//
//** Aside Menus
// Build left aside menu
$imgPath : "./assets/app/media/img";
@include m-generate--menu-ver( $m-config-menu-aside );

.m-menu__link-icon{
  &:before{
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 35px;
  }
  &.icon-users{
    &:before{
     background-image: url(../../../app/media/img/icons/menu-users.svg);

    }
  }
  &.icon-admin{
    &:before{
      background-image: url(../../../app/media/img/icons/menu-key.svg);
    }
  }
  &.icon-reha{
    &:before{
      background-image: url(../../../app/media/img/icons/menu-reha.svg);
    }
  }
  &.icon-org{
    &:before{
      background-image: url(../../../app/media/img/icons/menu-org.svg);
    }
  }

}
.m-menu__item--active{
  .icon-users{
    &:before{
     background-image: url(../../../app/media/img/icons/menu-users-active.svg);
    }
  }
  .icon-admin{
    &:before{
      background-image: url(../../../app/media/img/icons/menu-key-active.svg);
    }
  }
  .icon-reha{
    &:before{
      background-image: url(../../../app/media/img/icons/menu-reha-active.svg);
    }
  }
  .icon-org{
    &:before{
      background-image: url(../../../app/media/img/icons/menu-org-active.svg);
    }
  }
}
.m-aside-menu{
  height: 100%;
  .m-menu__nav {
    .m-menu__link{
      border-left: 3px solid #fff;
    }
  }
  &.m-aside-menu--skin-light{
    border-right: 1px solid #e3e7ec;
  }
}
