.label-block {
	.title {
		font-size: 1.14rem;
		padding-bottom: 10px;
		letter-spacing: 0.4px;
		color: #4c525a;
	}
	.value {
		line-height: 30px;
		letter-spacing: 0.3px;
		color: #000;
		img {
			margin-right: 10px;
		}
	}
}