<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title">
        {{ title }}
      </h1>
    </div>
  </div>
</div>

<div class="m-content" *ngIf="!loading">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body m--padding-bottom-0">
      <div class="m-section">
        <div class="m-section__content">
          <form id="functionForm" [formGroup]="functionForm" (ngSubmit)="save()" class="m-form m-form--fit m-form--label-align-right" _lpchecked="1">
            <div *ngIf="id" class="row">
              <div class="col-lg-3 label-block">
                <div class="title">Author:</div>
                <div class="value">
                  <img src="./assets/app/media/img/users/no-photo-user.png" class="m--img-rounded m--img-centered m--margin-right-5 w30"/>
                  <span class="name fnt-size-15">{{ author }}</span>
                </div>
              </div>

              <div class="col-lg-3 label-block">
                <div class="title">Time created:</div>
                <div class="value">{{ createDate | date: 'dd.MM.yyyy  HH:mm' }}</div>
              </div>

              <div *ngIf="editDate" class="col-lg-3 label-block">
                <div class="title">Time last edit:</div>
                <div class="value">{{ editDate | date: 'dd.MM.yyyy  HH:mm' }}</div>
              </div>
            </div>
            <div class="row m--padding-bottom-20">
              <div class="col-lg-12">
                <div class="form-group m-form__group">
                  <label class="required" for="name-input">
                    Name:
                  </label>
                  <div class="m-input-icon m-input-icon--right">
                    <input formControlName="name" id="name-input" class="form-control m-input" type="text">
                    <span *ngIf="functionForm.controls.name.value.length === 0" class="m-form__help">
                      Max {{ maxLengthName }} characters
                    </span>
                    <span *ngIf="functionForm.controls.name.value.length > 0 && functionForm.controls.name.value.length <= maxLengthName" class="m-form__help">
                      {{ maxLengthName - functionForm.controls.name.value.length }} characters left
                    </span>
                    <small class="text-danger"
                           *ngIf="functionForm.controls.name.touched && functionForm.controls.name.hasError('required')">
                      Name function is required
                    </small>
                    <small class="text-danger"
                           *ngIf="functionForm.controls.name.touched && functionForm.controls.name.hasError('notUnique')">
                      Name function already exists
                    </small>
                    <small class="text-danger"
                           *ngIf="functionForm.controls.name.touched && functionForm.controls.name.hasError('maxlength')">
                      Name function exceeded the maximum length
                    </small>
                    <small class="text-danger"
                           *ngIf="functionForm.controls.name.touched && functionForm.controls.name.hasError('pattern')">
                      Name function contains an unacceptable character "/"
                    </small>
                  </div>

                </div>
              </div>
            </div>

            <div formArrayName="localizations">

              <div class="row"
                   *ngFor="let localization of localizations.controls; let i=index;"
                   [formGroupName]="i">
                <div class="col-lg-12">
                  <div class="form-group m-form__group m-form__group_40per m--padding-right-20 m--padding-top-0">
                    <label *ngIf="i === 0" class="required">
                      Localization
                    </label>
                    <div class="m-input-icon">
                      <p-dropdown
                        placeholder="Select locatization"
                        formControlName="name"
                        [style]="{'width': '100%'}"
                        [options]="localizationList"
                        [filter]="true">
                      </p-dropdown>
                      <small class="text-danger"
                             *ngIf="localization.get('name').touched && localization.get('name').hasError('required')">
                        Locatization is required
                      </small>
                      <small class="text-danger"
                             *ngIf="localization.get('name').touched && localization.get('name').hasError('notUnique')">
                        Locatization already exists
                      </small>
                    </div>
                  </div>

                  <button
                    *ngIf="i > 0"
                    (click)="removeLocalization(i)"
                    class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-font-md m--padding-left-0">
                    <span>
                      <i class="fa fa-times"></i>
                      <span>Delete</span>
                    </span>
                  </button>
                  <button type="button" *ngIf="i == 0" class="btn btn-accent m-btn m-btn-width-md m-btn--custom m-btn--icon m-btn--pill" (click)="addLocalization()">
                    + Add
                  </button>
                </div>
              </div>
            </div>
            <div [style.font-size.px]="20">Tests</div>
            <div formArrayName="tests">
              <div class="row"
                *ngFor="let test of tests.controls; let i=index;"
                [formGroupName]="i">
                <div class="col-9">
                  <div class="form-group m-form__group m--padding-top-0">
                    <label>Name</label>

                    <div class="m-input-icon">
                      <input [readonly]="!isEditTests[i]" formControlName="name" id="name-input" class="form-control m-input" type="text">
                      <span *ngIf="test.get('name').value.length === 0" class="m-form__help">
                        Max {{ maxLengthTestName }} characters
                      </span>
                      <span *ngIf="test.get('name').value.length > 0 && test.get('name').value.length <= maxLengthTestName" class="m-form__help">
                        {{ maxLengthTestName - test.get('name').value.length }} characters left
                      </span>
                      <small class="text-danger"
                             *ngIf="test.get('name').touched && test.get('name').hasError('required')">
                        Name test is required
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="test.get('name').touched && test.get('name').hasError('maxlength')">
                        Name test exceeded the maximum length
                      </small>
                      <small class="text-danger"
                          *ngIf="test.get('name').touched && test.get('name').hasError('notUnique')">
                        The name of the Tests must be different. Enter the unique names
                      </small>
                      <small class="text-danger"
                          *ngIf="test.get('name').touched && test.get('name').hasError('whitespace')">
                        Name test can not consist only of spaces
                      </small>
                      <small class="text-danger"
                          *ngIf="test.get('name').touched && test.get('name').hasError('notEqualToFunctionName')">
                        The name of the Test and Function must be different. Enter the unique names
                      </small>

                    </div>

                  </div>
                </div>
                <div class="col-3 m--margin-top-30">
                  <button
                    type="button"
                    *ngIf="!isEditTests[i]"
                    (click)="removeTest(i)"
                    class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-font-md m--padding-left-0">
                    <span>
                      <i class="fa fa-trash"></i>
                      <span>Delete</span>
                    </span>
                  </button>
                  <button
                    type="button"
                    *ngIf="!isEditTests[i]"
                    (click)="editTest(i)"
                    class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-font-md m--padding-left-0">
                    <span>
                      <i class="fa fa-pencil"></i>
                      <span>Edit</span>
                    </span>
                  </button>
                  <button
                    [disabled]="test.get('name').invalid"
                    type="button"
                    *ngIf="isEditTests[i]"
                    (click)="saveTest(i)"
                    class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-font-md m--padding-left-0">
                    <span>
                      <i class="fa fa-check"></i>
                      <span>Save</span>
                    </span>
                  </button>
                  <button
                    type="button"
                    *ngIf="isEditTests[i]"
                    (click)="cancelTest(i)"
                    class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-font-md m--padding-left-0">
                    <span>
                      <i class="fa fa-times"></i>
                      <span>Cancel</span>
                    </span>
                  </button>
                </div>
              </div>
              <button type="button" class="btn btn-accent m-btn m-btn-width-md m-btn--custom m-btn--icon m-btn--pill" (click)="addTest()">
                + Add test
              </button>
            </div>

            <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border m--padding-top-20">
              <div class="m-form__actions m-form__actions m--padding-left-0">
                <div class="row">
                  <div class="col-lg-12">
                    <button [disabled]="functionForm.invalid" class="btn btn-metal m-btn--pill m-btn m-btn--custom" type="submit">
                      Save
                    </button>
                    <button type="button" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom" (click)="back()">
                      Cancel
                    </button>
                    <button *ngIf="id" type="button" class="btn m-btn--pill btn-danger m-btn m-btn--custom" (click)="delete()">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div> <!--.m-section__content-->
      </div> <!--.m-section-->
    </div> <!--.m-portlet__body-->
  </div> <!--.m-portlet-->
</div> <!--.m-content-->
