<div
  class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin"
  id="m_login">
  <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
    <div class="m-stack m-stack--hor m-stack--desktop">
      <div class="m-stack__item m-stack__item--fluid">
        <div class="m-login__wrapper">
          <div class="m-login__logo">
            <a href="#">
              <img src="./assets/app/media/img//logos/logo-2.png">
            </a>
          </div>
          <div class="m-login__signin">
            <form (ngSubmit)="model.email && model.password && signin()" #f="ngForm" class="m-login__form m-form" action="">
              <div class="form-group m-form__group">
                <input class="form-control m-input " type="text" placeholder="Ваш логин" name="name"
                       [(ngModel)]="model.email">
              </div>
              <div *ngIf="!model.email && show" id="password-error" class="show-error-login"
                   style="font-weight: 400; font-size: 0.85rem;color: #f05e5e;">Заполните это поле.
              </div>
              <div class="form-group m-form__group">
                <div class="m-input-icon m-input-icon--right">
                  <input class="form-control m-input" type="{{ showPassword }}" placeholder="Пароль"
                  name="password" [(ngModel)]="model.password" >
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span (click)="showHidePassword()">
                          <i [ngClass]="{'ic-eye-active': isShowPass, 'ic-eye': !isShowPass}" class="ic "></i>
                      </span>
                  </span>
                </div>
                <div *ngIf="!model.password && show " id="password-erro" class="show-error-login"
                     style="font-weight: 400; font-size: 0.85rem;color: #f05e5e;">Заполните это поле.
                </div>
              </div>
             <ng-template #alertSignin></ng-template>
              <!-- id="m_login_signin_submit" - this id for button Войти, check empty field or some-->
              <div class="m-login__form-action">
                <button [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" (click)="showField(true)"
                        class="btn m-btn btn-accent m-btn--pill m-btn--custom" >
                  Войти
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="m-stack__item m-stack__item--center m-footer_login">
        <div class="m-login__account">
					<span class="m-login__account-msg">
						© 2017, REMSMED AG. Все права защищены 1.10.1
					</span>
          &nbsp;&nbsp;
          <a href="javascript:;" id="m_login_signup"
             class="btn btn-outline-metal m-btn--pill m-btn m-btn--custom m-btn-helpdesk m-btn-width-auto">
            Техническая поддержка
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content"
    style="background-image: url(./assets/app/media/img//bg/bg-4.jpg)">

  </div>
</div>
