<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Системные администраторы
      </h3>
    </div>
    <div class="">
      <a routerLink="/admin/admin-users/add-admin" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill">
            <span>
                <i class="la la-plus"></i>
                <span>
                    Добавить пользователя
                </span>
            </span>
      </a>
      <div class="m-separator m-separator--dashed d-xl-none"></div>
    </div>
  </div>
</div>
<div class="m-content" *ngIf="dataSource">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <p-dataTable class="ui-datatable-footer-counter"
                    #datatable
                    [value]="dataSource"
                    [rows]="10"
                    [paginator]="true"
                    [pageLinks]="3"
                    [rowsPerPageOptions]="[5,10,20,100]"
                    (onPage)="getDt(datatable); countRows($event)"
                   (onFilter)="getDt(datatable); countRowsFilter($event)">
        <p-footer>
          <span [ngSwitch]="isFiltered">
            <span *ngSwitchCase="'fromTo'">Показано {{rowFrom}}-{{rowUntil}} из {{filteredLength}}</span>
            <span *ngSwitchCase="'empty'">Показано 0</span>
            <span *ngSwitchCase="'one'">Показано 1-1</span>
            <span *ngSwitchDefault>Показано {{rowFrom}}-{{rowUntil}} из {{datatable.value.length}}</span>
          </span>
        </p-footer>
        <p-column field="id" header="id" [sortable]="true"></p-column>
        <p-column field="fio" header="ФИО" [sortable]="true"></p-column>
        <p-column field="creationDate" header="Дата регистрации" [sortable]="true">
          <ng-template let-date let-parse="rowData" pTemplate="body">
            {{parse[date.field]|date: 'yyyy-MM-dd' }}
          </ng-template>
        </p-column>
        <p-column field="statusTranslate" header="Статус" [sortable]="true">
          <ng-template let-thisData="rowData" pTemplate="body">
            <span class="m-badge  m-badge--{{thisData.class}}">{{thisData.statusTranslate}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="td-col-button">
          <ng-template let-item="rowData" pTemplate="body">
            <div class="dropdown">
              <a href="#" class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-only" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Просмотр профиля</a>
                <a *ngIf="currentUser.id !== item.id && item.status_code === 'ACTIVE' || item.status_code === 'NOT_ACTIVE'" class="dropdown-item" href="#" (click)="modalOpen(item.id,item.fio,item)">Заблокировать пользователя</a>
                <a *ngIf="item.status_code === 'LOCKED' || item.status_code === 'LOCKED_INACTIVE'" class="dropdown-item" href="#" (click)="unblockUser(item)">Разблокировать роль</a>
              </div>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
