//widget autocomplete
p-autocomplete{
  width: 100%
}

body .ui-widget.ui-autocomplete{
  width: 100%;
  font-size: 1.14rem;
  line-height: 1.1;

  .ui-autocomplete-panel {
      @include shadow(0 12px 20px 0 rgba(95, 103, 112, 0.15));

    .ui-autocomplete-items {
      .ui-autocomplete-list-item{
        margin: 0;
        padding-left: 20px;
        line-height: 1.8;
        border-top: 1px solid array-get($m--forms, input, skins, light, default, border, default);
        &.ui-state-highlight {
          background-color: #f4f5f8;
          color: array-get($rm-colors, greyLink);
        }
        &:first-child{
          border-top: 0;
        }
        &:not(.ui-state-highlight):hover {
          background-color: #f4f5f8;
        }
      }
    }
  }
}


//input mask
body .ui-inputtext{
  &.ui-inputtext-phone{
    min-width: 230px;
    //width: 270px;
    &.widthFull{
      width:100%;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  body .ui-inputtext {
    &.ui-inputtext-phone {
      min-width: 220px;
    }
  }
}

.input-group__input-txt{
  .input-group-addon__input-txt{
    .m-input{
      width: 60px;
      text-align: center;
      border-right: 0;
      @include border-bottom-right-radius(0);
      @include border-top-right-radius(0);
      &:focus{
        border-color: array-get($rm--colors-form-control, input, border);
      }
    }
    .ui-corner-all{
      @include border-bottom-right-radius(0);
      @include border-top-right-radius(0);
    }
    .ui-dropdown {
      border-right: 0;
    }
  }
  .input-group-right__input-txt{
    @include flexbox-flex(1);

    .ui-corner-all{
      @include border-bottom-left-radius(0);
      @include border-top-left-radius(0);
    }
    .form-control{
      @include border-bottom-left-radius(0);
      @include border-top-left-radius(0);
    }
  }

  .ui-dropdown.ui-state-focus,
  .ui-dropdown:focus{
    border-color: array-get($rm--colors-form-control, input, border);
  }

}

.form-group{
  .m-input-icon{
    .text-danger{
      +.text-danger{
        bottom: -30px;
      }
    }
  }
}
.text-danger__static{
  position: static !important;
}
.col-fix{
  margin-left: 15px;
}
//primeNg
.ui-inputtext.ng-dirty.ng-invalid, p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-calendar.ng-dirty.ng-invalid .ui-inputtext,
p-calendar.ng-touched.ng-invalid .ui-inputtext,
p-calendar.ng-dirty.ng-invalid .ui-button,
p-calendar.ng-touched.ng-invalid .ui-button,
p-chips.ng-dirty.ng-invalid > .ui-inputtext,
p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
p-listbox.ng-dirty.ng-invalid .ui-inputtext,
p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
p-selectbutton.ng-dirty.ng-invalid .ui-button,
p-togglebutton.ng-dirty.ng-invalid .ui-button{
  border-color: array-get($m--state-colors, danger, base) !important;
}
p-inputmask.ui-inputwrapper-filled.ng-valid.ng-touched{
  &:not(.ui-inputwrapper-focus){
  +.m-input-icon__icon--right{
    .ic.ic-valid-form_mask:before {
      background-image: url(../../../app/media/img/icons/check-formThick.svg); }
  }
}
}
.ui-inputtext {
  &:focus {
    border-color: array-get($rm-colors, focusField) !important;
    @include shadow(none !important);
  }
}
// for dropdown, autocomplete
body .ui-widget{
  .ui-widget-content {
    border: 1px solid array-get($rm--state-colors, metal, outlineBorder);
    margin-top: 3px;
    &.ui-shadow {
      @include shadow(0 12px 20px 0 rgba(95, 103, 112, 0.15));
    }
    .ui-widget-content {
      border: none;
      margin-top: 0;
    }
  }
}
body div.ui-widget{
  /*font-size: 1.15em;*/
  &.ui-widget-content {
    border: none;
  }
  &.ui-shadow {
    @include shadow(0 12px 20px 0 rgba(95, 103, 112, 0.15));
  }

}
body .ui-widget input.ui-inputtext,
body input.ui-inputtext,
body ul.ui-inputtext,
body label.ui-inputtext,
body div.ui-multiselect{
  /*border-color: array-get($m--forms, input, skins, light, default, border, default);*/
  border-color: array-get($rm--colors-form-control, input, border);
  width: 100%;
  font-size: 1.15rem;
  font-family: "HelveticaNeueCyr";
  padding: 0.65rem 1.25rem;
  @include border-radius(5px);
}

//multiselect
body div.ui-multiselect{
  .ui-multiselect-header,
  .ui-multiselect-panel .ui-multiselect-item .ui-chkbox{
    display: none;
  }
  .ui-multiselect-item {
    margin: 0;
    padding-left: 50px;
    border-top: 1px solid #ebedf2;
      &.ui-state-highlight {
        background-color: #d5d9e4;
        color: #353535;
      }
  }
  .ui-multiselect-panel{
    width: 350px;
    .ui-multiselect-items-wrapper{
      padding: 0;
    }
  }
  .ui-multiselect-label{
    padding: 0;
    margin: 0;
  }
  &.multiselect-in-chips{
    position: absolute;
    visibility: hidden;
    width: auto;
  }
}

//chips
body .ui-chips{
  > ul.ui-inputtext{
    height: 44px;
    padding: 3px;
  }
  .ui-chips-token{
    @include border-radius(3px);
    @include box-shadow(inset 4px -14px 11px 0 rgba(0, 0, 0, 0.02));
    color: #47515f;
    line-height: 2;
    &.ui-state-highlight{
      background-color: #f4f6f8;
    }
  }

}

//Togglebutton
div.ui-button-text-icon-left .ui-button-text {
  padding: .5rem 1.25rem .5rem 2.1rem;
}
p-togglebutton .ui-togglebutton.ui-button{
  &.ui-state-default{
    border-color: array-get($rm--colors-form-control, input, border);
    color: array-get($rm--colors-form-control, input, icon);
}
  &.ui-state-active {
    border-color: array-get($rm--colors-form-control, input, border);
    background-color: #f4f5f8;
    color: array-get($rm--colors-form-control, input, icon);
  }
  &:not(.ui-state-disabled){
    &.ui-state-active {
      background-color: #f4f5f8;
    }
    &:not(.ui-state-active):hover{
      background-color: #f4f5f8;
    }
  }

}

//datepicker
body div.ui-datepicker {
  width:314px;
  .ui-datepicker-header{
    background-color: #fff;
    border-bottom: 0;
    .ui-datepicker-prev{
      &:before {
        content: "\f104";
      }
    }
    .ui-datepicker-next{
      &:before {
        content: "\f105";
      }
    }
    select{
      border-color: #ebedf2;
      padding: 0.5em;
      font-size: 1.15rem;
      border-radius: 3px;
      color: #353535;
    }
  }
  table.ui-datepicker-calendar{
    thead{
      th {
        background-color: #fff !important;
      }
    }
    td{
      border-bottom: 0 !important;
      a{
        font-size: 1.15em;
      }
      &:not(.ui-state-disabled){
        a.ui-state-highlight{
          background-color: darken(array-get($m--state-colors, accent, base), 15%);
          color: #fff;
        }
        a.ui-state-active{
          background-color: array-get($m--state-colors, accent, base);
        }
      }

    }
  }
}
//calendar
.ui-calendar {
  width: 100%;
  .ui-calendar-button {
    &.ui-button,
    &.ui-button:focus,
    &.ui-button:enabled:active,
    &.ui-button:enabled:hover{
      width: 35px;
      margin-left: -35px;
      font-size: 17px;
      background-color: #fff;
      border-color: array-get($rm--colors-form-control, input, border);
      color: array-get($rm--colors-form-control, input, icon);
      @include shadow(none);
    }
    .fa-calendar{
      &:before {
        content: "\f274";
      }
    }
  }
  input.ui-inputtext{
    border-right: 0;
    &:focus{
      border-color: array-get($rm-colors, focusField);
      border-right: 0;
      @include shadow(none);
      +.ui-button{
        border-color: array-get($rm-colors, focusField);
        @include shadow(none);
      }
    }

  }
  &.ui-calendar-w-btn{
    .ui-inputtext{
      width: 100%;
      padding-right: 35px;
    }
  }
  //Range calendar
  &.ui-calendar-range{
    min-width: 230px;
  }

  //Fixed width calendar
  &.ui-calendar-fixed{
    width: 165px;
  }
  &.ui-calendar-navs{
    .ui-datepicker-header{
      .ui-datepicker-prev{
        display: none;
      }
      .ui-datepicker-next{
        display: none;
      }
      select{
        border-color: #ebedf2;
        padding: 0.5em;
        font-size: 1.15rem;
        border-radius: 3px;
        color: #353535;
        background: url(#{$imgPath}/icons/ic-caret-down.png) no-repeat 100% 50%;
        background-size: 22px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }
}

//select
.fld-condition{
  .ui-dropdown{
    min-width: 160px;
  }
}
p-dropdown{
  width: 100%;
}
body div.ui-dropdown {
  width: 100%;
  border-color: array-get($m--forms, input, skins, light, default, border, default);
  color: array-get($rm-colors, greyLink);
  font-family: "HelveticaNeueCyr";
  font-size: 16px;
  &:focus{
    outline: none;
    border-color: #716aca;
    //border-right: 0;
  }
  &.ui-state-focus{
    @include shadow(none);
    border-color: #716aca;

    .ui-dropdown-label,
    .ui-dropdown-trigger{
      background-color: #fff;
    }
  }
    &:not(.ui-state-disabled){
      &:hover {
        background-color: #fff;
        border-color: array-get($m--forms, input, skins, light, default, border, default);

          .ui-dropdown-label,
          .ui-dropdown-trigger{
            background-color: #fff;
            &:focus{
              outline: none;
              border-right: 0;
            }
          }
      }
    }
    .ui-dropdown-label{
      background-color: #fff;
    }
    .ui-inputtext{
      color: #7c8495;
    }
    .ui-dropdown-trigger .fa {
      color: #9fa8b1;
      font-size: 20px;
      margin-left: -.3em;
      margin-top: .5em;
    }
    .fa-caret-down:before {
      content: "\f107";
    }
    &.ui-dropdown-open{
      .fa-caret-down:before {
        content: "\f106";
      }
      .ui-helper-reset {
        line-height: 1.7;
      }
      .ui-dropdown-panel {
        .ui-dropdown-items {
          .ui-dropdown-item{
            margin: 0;
            padding-left: 20px;
            border-top: 1px solid array-get($m--forms, input, skins, light, default, border, default);
            &.ui-state-highlight {
              background-color: darken(#f4f5f8, 10%);
              color: array-get($rm-colors, greyLink);
            }
            &:first-child{
              border-top: 0;
            }
            &:not(.ui-state-highlight):hover {
              background-color: #f4f5f8;
            }
          }
        }
      }
    }
  // dropdown with image
  &.ui-dropdown-image{
    @each $country in $countries {
      &.#{$country} .ui-dropdown-label:before{
        background-image: url(../../../app/media/img/flags/#{$country}.png);
      }
    }
    .ui-dropdown-panel {
      .ui-dropdown-items {
        .ui-dropdown-item{
          padding-left: 10px;
            img{
              width: 24px;
              height: 24px;
              margin-right: 10px;
            }
        }
      }
    }
    .ui-inputtext{
      padding-left: 40px;
    }
    .ui-dropdown-label{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: 10px;
        top: 5px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url(../../../app/media/img/flags/RF.png);
      }
    }
    &.ui-dropdown-notext{
      width: 70px;
      .ui-inputtext{
        color: transparent;
      }
      .ui-dropdown-panel {
        .ui-dropdown-items {
          .ui-dropdown-item{
            padding-left: 10px;
            text-align: center;
            img{
              margin-right: 0;
            }
          }
        }
      }
    }
  }

}

.ng-touched {
  >div.ui-dropdown {
    .ui-inputtext{
      color: array-get($rm-colors, greyLink);
    }
  }
}

p-dropdown.ng-invalid.ng-touched{
    >div.ui-dropdown:not(.ui-dropdown-open) {
      border-color: array-get($m--state-colors, danger, base);
    }
  }


//
//** Input Component
//
.required{
  position: relative;
  &:after{
    content: '*';
    color: array-get($m--state-colors, danger, base);
    position: absolute;
    top: -2px;
    right: -5px;
  }
}
.col-form-label{
  &.required{
    &:after{
      top: 5px;
    }
  }
}
//==== Component Mixins ====//

//== Component Base
@mixin m-build-component--input-base() {
    // base input
    .form-control  {
        font-family: "HelveticaNeueCyr";
        font-size: 1.2rem;

        &.m-input--pill {
            @include border-radius(array-get($m--forms, input, layout, self, size, default, pill-radius));
        }

        &.m-input--square {
            @include border-radius(0);
        }

        &.m-input--fixed {
            display: inline-block;
            width: array-get($m--forms, input, layout, self, size, default, fixed);
        }

        &.m-input--fixed-large {
            display: inline-block;
            width: array-get($m--forms, input, layout, self, size, large, fixed);
        }

        &.m-input--fixed-small {
            display: inline-block;
            width: array-get($m--forms, input, layout, self, size, small, fixed);
        }
    }

    // input group
    .input-group {
        // addon
        .input-group-addon {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: array-get($m--forms, input-group, layout, addon, padding, x);
            padding-right: array-get($m--forms, input-group, layout, addon, padding, x);
            align-items: center;
            justify-content: center;

            // checkbox/radio
            .m-checkbox,
            .m-radio {
                margin: 0;
                padding: 0;
            }
        }

        // default icon sizing
        .input-group-addon {
            @include icons-size( array-get($m--forms, input, layout, icon, default, font-size) );
        }

        // large icon sizing
        &.input-group-lg {
            .input-group-addon {
                @include icons-size( array-get($m--forms, input, layout, icon, large, font-size) );
            }
        }

        // small icon sizing
        &.input-group-lg {
            .input-group-addon {
                @include icons-size( array-get($m--forms, input, layout, icon, small, font-size) );
            }
        }

        // fixed width input groups
        &.m-input-group--fixed {
            width: array-get($m--forms, input, layout, self, size, default, fixed);
        }

        &.m-input-group--fixed-large {
            width: array-get($m--forms, input, layout, self, size, large, fixed);
        }

        &.m-input-group--fixed-small {
            width: array-get($m--forms, input, layout, self, size, small, fixed);
        }

        // squre style
        &.m-input-group--square {
            @include border-radius(0);

            > .form-control:first-child,
            > span:first-child,
            > span:first-child > .btn {
                @include border-radius(0);
            }

            > .form-control:last-child,
            > span:last-child,
            > span:last-child > .btn {
                @include border-radius(0);
            }
        }

        // pill style
        &.m-input-group--pill {
            @include border-radius(array-get($m--forms, input, layout, self, size, default, pill-radius));

            > .form-control:first-child,
            > span:first-child,
            > span:first-child > .btn {
                @include border-top-left-radius(array-get($m--forms, input, layout, self, size, default, pill-radius));
                @include border-bottom-left-radius(array-get($m--forms, input, layout, self, size, default, pill-radius));
            }

            > .form-control:last-child,
            > span:last-child,
            > span:last-child > .btn {
                @include border-top-right-radius(array-get($m--forms, input, layout, self, size, default, pill-radius));
                @include border-bottom-right-radius(array-get($m--forms, input, layout, self, size, default, pill-radius));
            }
        }
    }

    // input icon
    .m-input-icon {
        position: relative;
        padding: 0;
        width: 100%;

        // icon input sizing
        > .m-input-icon__icon {
            position: absolute;
            height: 100%;
            display: inline-block;
            text-align: center;
            top: 0;
            width: array-get($m--forms, input, layout, icon, default, width);

            &.m-input-icon__icon--left {
                left: 0;
            }

            &.m-input-icon__icon--right {
                right: 0;
            }

            > span {
                display: table;
                height: 100%;
                width: 100%;

                > i {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 0;
                }
            }

            // set icon sizes
            @include icons-size( array-get($m--forms, input, layout, icon, default, font-size) );
        }

        .form-control.form-control-lg ~ .m-input-icon__icon {
            width: array-get($m--forms, input, layout, icon, large, width);

            // set icon sizes
            @include icons-size( array-get($m--forms, input, layout, icon, large, font-size) );
        }

        .form-control.form-control-sm ~ .m-input-icon__icon {
            width: array-get($m--forms, input, layout, icon, small, width);

            // set icon sizes
            @include icons-size( array-get($m--forms, input, layout, icon, small, font-size) );
        }

        // icon input alignments
        &.m-input-icon--left {
            .form-control {
                padding-left: array-get($m--forms, input, layout, icon, default, width);

                &.form-control-lg {
                    padding-left: array-get($m--forms, input, layout, icon, large, width);
                }

                &.form-control-sm {
                    padding-left: array-get($m--forms, input, layout, icon, small, width);
                }
            }
        }

        &.m-input-icon--right {
            .form-control {
                padding-right: array-get($m--forms, input, layout, icon, default, width);

                &.form-control-lg {
                    padding-right: array-get($m--forms, input, layout, icon, large, width);
                }

                &.form-control-sm {
                    padding-right: array-get($m--forms, input, layout, icon, small, width);
                }
            }
        }

        // fixed width icon inputs
        &.m-input-icon--fixed {
            display: inline-block;
            width: array-get($m--forms, input, layout, self, size, default, fixed);
        }

        &.m-input-icon--fixed-large {
            display: inline-block;
            width: array-get($m--forms, input, layout, self, size, large, fixed);
        }

        &.m-input-icon--fixed-small {
            display: inline-block;
            width: array-get($m--forms, input, layout, self, size, small, fixed);
        }

        &.m-input-icon-autoComplete{
          .ui-inputtext{
            border: none;
            padding: 0;
          }
        }
      &.m-input-icon-hover{
        .m-input-icon__icon{
          cursor: pointer;
        }
      }
    }
}

//== Component Skin
@mixin m-build-component--input-skin($config, $skin) {
    @include component-skin(form-control, $skin) {
        // default input style

        &[readonly],
        & {
            border-color: array-get($config, input, skins, $skin, default, border, default);
            color: array-get($config, input, skins, $skin, default, color, default);
            @include input-placeholder(array-get($config, input, skins, $skin, default, color, placeholder));
        }

        &[readonly] {
            background-color: transparent;
        }

        &:focus {
            border-color: array-get($config, input, skins, $skin, default, border, focus);
            color: array-get($config, input, skins, $skin, default, color, focus);
        }

        &[disabled] {
            border-color: array-get($config, input, skins, $skin, default, border, disabled);
            color: array-get($config, input, skins, $skin, default, color, disabled);
            background-color: array-get($config, input, skins, $skin, default, bg, disabled);
        }

        // solid input style
        &.m-input--solid {
            background-color: array-get($config, input, skins, $skin, solid, bg, default);
            border-color: array-get($config, input, skins, $skin, solid, border, default);
            color: array-get($config, input, skins, $skin, solid, color, default);
            @include input-placeholder(array-get($config, input, skins, $skin, solid, color, placeholder));

            &:focus {
                background-color: array-get($config, input, skins, $skin, solid, bg, focus);
                border-color: array-get($config, input, skins, $skin, solid, border, focus);
                color: array-get($config, input, skins, $skin, solid, color, focus);
            }

            &[disabled] {
                border-color: array-get($config, input, skins, $skin, solid, border, disabled);
                color: array-get($config, input, skins, $skin, solid, color, disabled);
                background-color: array-get($config, input, skins, $skin, solid, bg, disabled);
            }
        }

        &.m-input--air {
            @include shadow( array-get($config, input, skins, $skin, air, box-shadow, default) );

            &:focus {
                @include shadow( array-get($config, input, skins, $skin, air, box-shadow, focus));
            }
        }
    }

    @include component-skin(input-group, $skin) {
        .input-group-addon {
            color: get-color($skin, regular);
            border-color: array-get($config, input, skins, $skin, default, border, default);
            background-color: lighten(array-get($config, input, skins, $skin, default, border, default), 3%);

            > i {
                color: get-color($skin, icon, '+++');
            }
        }

        .input-group-btn {
            > .btn.btn-secondary {
                border-color: array-get($config, input, skins, $skin, default, border, default);
            }
        }

        &.m-input-group--air {
            @include shadow( array-get($config, input, skins, $skin, air, box-shadow, default) );
        }

        &.m-input-group--solid {
            .form-control {
                border-color: array-get($config, input, skins, $skin, default, border, default);
                background-color: lighten(array-get($config, input, skins, $skin, default, border, default), 3%);

                color: array-get($config, input, skins, $skin, solid, color, default);
                @include input-placeholder(array-get($config, input, skins, $skin, solid, color, placeholder));

                &:focus {
                    background-color: array-get($config, input, skins, $skin, solid, bg, focus);
                    border-color: array-get($config, input, skins, $skin, solid, border, focus);
                    color: array-get($config, input, skins, $skin, solid, color, focus);
                }

                &[disabled] {
                    border-color: array-get($config, input, skins, $skin, solid, border, disabled);
                    color: array-get($config, input, skins, $skin, solid, color, disabled);
                    background-color: array-get($config, input, skins, $skin, solid, bg, disabled);
                }
            }
        }
    }

    @include component-skin(m-input-icon, $skin) {
        .m-input-icon__icon i {
            color: get-color($skin, icon, '+++');
        }
    }
}

//==== Generate Component ====//

//== Component Base
@include m-build-component--input-base();

//== Component Skin - Light
@include m-build-component--input-skin($m--forms, light);

//== Component Skin - Dark
@include m-build-component--input-skin($m--forms, dark);
