
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Организации
      </h3>
    </div>
    <div class="">
      <a routerLink="/admin/organisations/add-organization" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill">
            <span>
                <i class="la la-plus"></i>
                <span >
                    Добавить организацию
                </span>
            </span>
      </a>
      <div class="m-separator m-separator--dashed d-xl-none"></div>
    </div>
  </div>
</div>
<div class="m-content" >

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <div class="m-section">

        <div class="m-section__content">
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group m-form__group">
                <div class="m-input-icon m-input-icon--right m-input-icon-hover m-input-icon-autoComplete">
                  <p-autoComplete placeholder="Поиск организации" class="form-control m-input"
                                  [(ngModel)]="fullOrShortName"
                                  [suggestions]="filteredOrgs"
                                  (completeMethod)="filterOrgs($event)"
                                  [minLength]="1"
                                  [maxlength]="50"
                                  scrollHeight="300px">
                  </p-autoComplete>
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span>
                      <i class="la la-search" (click)="startSearch()"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group m-form__group">
                <div class="m-input-icon m-input-icon--right">
                  <p-calendar name="regDate"
                              styleClass="ui-calendar-navs ui-calendar-range"
                              selectionMode="range"
                              [readonlyInput]="true"
                              showButtonBar="true"
                              [(ngModel)]="rangeDates"
                              (onClose)="startSearch()"
                              (onClearClick)="startSearch()"
                              [locale]="ru"
                              [showIcon]="true"
                              dateFormat="dd.mm.yy"
                              placeholder="Дата регистрации"
                              [monthNavigator]="true"
                              [yearNavigator]="true"
                              yearRange="2000:2028">
                  </p-calendar>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group m-form__group">
                <p-dropdown name="condition" placeholder="Статус" class="fld-condition"
                            #ddCondition
                            [options]="conditions"
                            [(ngModel)]="condition"
                            [autoWidth]="false"
                            (onChange)="startSearch()"
                >
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <div class="m-section__content">

          <p-dataTable class="ui-datatable-filter-hide ui-datatable-footer-counter counter-lg"
                       #datatable
                       [value]="organizations"
                       emptyMessage="Организаций не найдено"
                       [rows]="10"
                       [paginator]="true"
                       [pageLinks]="3"
                       [rowsPerPageOptions]="[10,20,50,100]"
                       (onPage)="getDt(datatable); countRows($event)"
                       (onFilter)="getDt(datatable); countRowsFilter($event)"
                    >
            <p-footer>
              <span [ngSwitch]="isFiltered">
                <span *ngSwitchCase="'fromTo'">Показано {{rowFrom}}-{{rowUntil}} из {{filteredLength}}</span>
                <span *ngSwitchCase="'empty'">Показано 0</span>
                <span *ngSwitchCase="'one'">Показано 1-1</span>
                <span *ngSwitchDefault>Показано {{rowFrom}}-{{rowUntil}} из {{dtLength}}</span>
              </span>
            </p-footer>
            <p-column field="name" header="Организация"
                      #colName
                      [sortable]="true"
                      [filter]="true"
                      filterMatchMode="contains"
                      [style]="{'width':'30%'}">
            </p-column>
            <p-column field="address" header="Адрес" [sortable]="true"></p-column>
            <p-column field="statusName" header="Статус" [sortable]="true" [style]="{'width':'150px'}">
              <ng-template let-thisData="rowData" pTemplate="body">
                <span class="m-badge  m-badge--success m-badge--wide">активная</span>
              </ng-template>
            </p-column>
            <p-column field="registrationDate" header="Дата регистрации" [sortable]="true" [style]="{'width':'100px'}"></p-column>

            <p-column styleClass="td-col-button">
              <ng-template let-item="rowData" pTemplate="body">

                   <a  class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-only"
                      >
                     <i class="fa fa-cog"></i>
                   </a>
                  <!-- <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Просмотр</a>
                     <a class="dropdown-item" href="#">Удалить</a>
                  </div>-->

              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div> <!--.m-section-->
    </div> <!--.m-portlet__body-->
  </div> <!--.m-portlet-->
</div>

