.wr-rehab {
    height: auto!important;
    &:before {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        margin: auto;
        background: #a3abb4;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}
.rehab-rnd {
    margin-top: -25px;
}


.drg-container {
    padding: 0 30px;
    vertical-align: top;
    font-size: 0;
    margin-left: -30px;
    & > div {
        padding-left: 30px;
        font-size: 16px;
        display: inline-block;
        position: relative;
        .box {
            width: 100%;
            font-weight: bold;
            background: rgb(255, 255, 255);
            height: 60px;
            border: 1px solid #a3abb4;
            border-radius: 5px;
            color: rgb(34, 33, 33);
            position: relative;
            z-index: 2;
            a {
                visibility: hidden;
                position: absolute;
                top: -5px;
                right: 2px;
                color: #ffffff;
            }
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                max-height: 60px;
                font-family: HelveticaNeue;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.3px;
                text-align: center;
                color: #000000;
            }
            &:hover {
                & > a {
                    visibility: visible;
                }
                & > span {
                    font-size: 18px;
                    letter-spacing: 0.4px;
                    color: #ffffff;
                }
                &:before {
                    content: ' ';
                    position: absolute;
                    background: #24b8dc;
                    border-radius: 5px;
                    top: -12px;
                    left: -12px;
                    right: -12px;
                    bottom: -12px;
                }
            }
            &.dashed {
                border-style: dashed;
                & > span {
                    font-size: 14px;
                    letter-spacing: 0.3px;
                    color: #000000;
                }
                &:hover:before {
                    display: none;
                }
            }
        }
    }
    &.count-0 {
        padding: 0 60px;
        margin-left: -60px;
        & > div {
            padding-left: 60px;
            width: 100%;
            .box {
                z-index: 0;
                height: 140px;
                span {
                    position: absolute;
                    left: 0;
                    transform: none;
                }
                .add-milestone {
                    top: 0;
                    line-height: 70px;
                    opacity: 0.2;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 3px;
                    color: #34495e;
                }
                .click-anywhere-in-th {
                    bottom: 0;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 70px;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: #b0b7c0;
                }
            }
        }
    }
    &.count-1 {
        padding: 0 260px;
        margin-left: -260px;
        & > div {
            padding-left: 260px;
            width: 100%;
        }
    }
    &.count-2 {
        padding: 0 150px;
        margin-left: -150px;
        & > div {
            padding-left: 150px;
            width: 50%;
        }
    }
    &.count-3 {
        padding: 0 110px;
        margin-left: -110px;
        & > div {
            padding-left: 110px;
            width: 33.333%;
        }
    }
    &.count-4 {
        padding: 0 65px;
        margin-left: -65px;
        & > div {
            padding-left: 65px;
            width: 25%;
        }
    }
    &.count-5 {
        padding: 0 30px;
        margin-left: -30px;
        & > div {
            padding-left: 30px;
            width: 20%;
        }
    }
}