<div class='wrapper rehab'>
  <div class="wr-rehab">
    <span class="rehab-rnd rehab-rnd-start">Start</span>
    <div [class]="'count-' + milestones.length + ' drg-container'" [dragula]='"rehab"' [dragulaModel]='milestones'>
      <div *ngIf="milestones.length === 0">
        <div class="box dashed">
          <span class="add-milestone">Add milestone</span>
          <span class="click-anywhere-in-th">Click anywhere in the horizontal line within the dotted line</span>
        </div>
      </div>
      <div *ngFor="let milestone of milestones" (click)="select(milestone)">
        <div class="box">
          <a href=""><i class="fa fa-close"></i></a>
          <span>{{ milestone.name }}</span>
        </div>
      </div>
    </div>
    <span class="rehab-rnd rehab-rnd-finish">Finish</span>
  </div>
</div>