<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title">
        New Plan
      </h1>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row">
    <!-- begin::Form-->
    <div class="col-lg-12">
      <div class="m-portlet m-portlet--bordered-semi">
        <div class="m-portlet__body">
          <div class="m-section m-section__border_bt m--padding-bottom-20">
            <span class="m-section__sub">Create a new rehabilitation plan:</span>
            <div class="m-section__content">

              <form [formGroup]="formTemplateHeader" novalidate class="m-form m-form--label-align-right">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group m-form__group">
                      <label class="required">
                        Injury:
                      </label>
                      <p-dropdown name="injury" placeholder="Выберите травму" optionsField="id"
                                  optionLabel="localizedName" #dropdown
                                  [options]="injuresList"
                                  [required]="true"
                                  [autofocus]="true"
                                  formControlName="injure"
                                  [autoWidth]="false">
                      </p-dropdown>

                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="form-group m-form__group">
                      <label class="required">
                        Name:
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <input type="text" class="form-control m-input" name="name" placeholder="Enter name"
                               formControlName="planName"
                               validatePlanName [validateFormControl]="planNameFormControl" [currentName]="this.currentPlan.name"/>
                        <small class="text-danger"
                               *ngIf="planNameFormControl.hasError('notUnique')">
                          Plan already exists
                        </small>
                        <small class="text-danger"
                               *ngIf="planNameFormControl.touched && planNameFormControl.hasError('required')">
                          Plan name is required
                        </small>

                        <span class="m-input-icon__icon m-input-icon__icon--right">
                            <span>
                                <i [ngClass]="{'ic-valid-form': formTemplateHeader.controls.planName.touched && formTemplateHeader.controls.planName.valid,
                                               'ic-error-form': formTemplateHeader.controls.planName.touched && formTemplateHeader.controls.planName.invalid}"
                                   class="ic"></i>
                            </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div><!-- .m-section-->

          <div class="m-section">
            <h3 class="m-section__heading">Rehab plan
              <button type="button" class="btn m-btn--pill m-btn m-btn--custom m--margin-left-15"
                      [ngClass]="{'btn-metal': formTemplateHeader.invalid, 'btn-accent': formTemplateHeader.valid}"
                      (click)="createNewMilestone()"
                      [disabled]="formTemplateHeader.invalid">
                + Add milestone
              </button>
            </h3>
            <span class="m-section__sub">Duration of rehab plan: {{phaseWeekDuration}}  weeks</span>
            <div class="m-section__content">
              <milestones
                [milestones]="currentPlan.phases"
                [formTemplateMilestone]="formTemplateMilestone"
                (selectMilestone)="openMilestoneForEdit($event)">
              </milestones>
              <!--
              <div class='wrapper rehab' *ngIf="!isShowAllMilestones">
                <div class="wr-rehab wr-rehab-start">
                  <span class="rehab-rnd rehab-rnd-start">Start</span>
                  <div class='drg-container drg-container-empty'>
                    <div class="container-inner">
                      <p class="title">Add milestone</p>
                      <p class="content">Click anywhere in the horizontal line within the dotted line</p>
                    </div>
                    <span class="rehab-arrow"></span>
                  </div>
                  <span class="rehab-rnd rehab-rnd-finish">finish</span>
                </div>
              </div>

              <div class='wrapper rehab' *ngIf="isShowAllMilestones">
                <div class="wr-rehab">
                  <span class="rehab-rnd rehab-rnd-start">Start</span>
                  <div class='drg-container' [dragula]='"rehab"'   >
                    <ng-container *ngFor="let phase of currentPlan.phases ">
                      <span class="rehab-arrow"></span>

                      <div class="m-portlet-wr m-portlet-line" (click)="openMilestoneForEdit(phase)">
                        <div class="m-portlet">
                          <a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="fa fa-close"></i>
                          </a>
                          <div class="m-portlet__body">
                            {{phase.name}}
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <span class="rehab-arrow"></span>
                  </div>
                  <span class="rehab-rnd rehab-rnd-finish">finish</span>
                </div>
              </div>
              -->
            </div>
          </div><!-- .m-section-->

          <div class="m-section m-section__border m--margin-bottom-0" *ngIf="isMilestoneEdit">
            <form [formGroup]="formTemplateMilestone" novalidate class="m-form m-form--label-align-right">
              <div class="m-section__content">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group m-form__group">
                      <label class="required">
                        Milestone name:
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <input type="text" class="form-control m-input" name="name" placeholder="Enter name" autofocus
                               formControlName="milestoneName"
                               maxlength="{{maxMilestoneName}}"
                               (ngModelChange)="changeFieldDirty()">

                        <small class="text-danger"
                               *ngIf="formTemplateMilestone.controls.milestoneName.touched && formTemplateMilestone.controls.milestoneName.hasError('required')">
                          Milestone name is required
                        </small>
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                         <span>
                             <i [ngClass]="{'ic-valid-form': formTemplateMilestone.controls.milestoneName.touched && formTemplateMilestone.controls.milestoneName.valid,
                                            'ic-error-form': formTemplateMilestone.controls.milestoneName.touched && formTemplateMilestone.controls.milestoneName.invalid}"
                                class="ic"></i>
                         </span>
                       </span>
                      </div>

                      <span *ngIf="!isFieldDirty" class="m-form__help">Max {{maxMilestoneName}} characters</span>
                      <span *ngIf="isFieldDirty" class="m-form__help">
                        {{maxMilestoneName - formTemplateMilestone.controls.milestoneName.value.length}} characters left
                      </span>

                    </div>
                    <small class="text-danger"
                           *ngIf="false">
                      Milestone already exists
                    </small>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group m-form__group">
                      <label class="required">
                        Duration:
                      </label>
                      <div class="input-group input-group__input-txt">
                        <span class="input-group-addon__input-txt">
                          <input name="durationCount" type="number" class="form-control m-input" formControlName="milestoneValueDuration"/>
                        </span>
                        <span class="input-group-right__input-txt">
                          <p-dropdown name="milestoneDuration" placeholder="Enter duration" #ddMstDuration
                                      [options]="mstDurationOpt"
                                      formControlName="milestoneDuration"
                                      [required]="true"
                                      [autoWidth]="true">
                          </p-dropdown>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <h4>Add new function</h4>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group m-form__group">
                      <label class="required">Select function:</label>
                      <p-dropdown name="function" placeholder="Выберите функцию"
                                  optionsField="id"
                                  optionLabel="localizedName" #dropdown
                                  [options]="functionsList"
                                  [required]="true"
                                  [autofocus]="true"
                                  formControlName="milestoneFunction"
                                  (onChange)="onChangeFunctionValue()"
                                  [autoWidth]="false">
                      </p-dropdown>

                    </div>
                  </div>
                  <div class="col-lg-4">

                    <div class="form-group m-form__group" *ngIf="currentUnitTypeCode=='INT'">
                      <label class="required">Select value:</label>
                      <!-- <p-spinner type="number" size="30" formControlName="milestoneFunctionValue" [step]="0.1"></p-spinner>-->
                      <div class="m-input-icon m-input-icon&#45;&#45;right">
                         <div class="input-group m-input-group m-input-group&#45;&#45;square">
                             <span class="input-group-addon">
                               {{currentLocalizedUnitName}}
                             </span>

                           <input name="percent" formControlName="milestoneFunctionValue" aria-describedby="basic-addon1" class="INT form-control m-input"  type="number">
                         </div>
                         <span class="m-input-icon__icon m-input-icon__icon&#45;&#45;right">
                          <span>
                            <i [ngClass]="{'ic-valid-form': formTemplateMilestone.controls.milestoneFunctionValue.touched && formTemplateMilestone.controls.milestoneFunctionValue.valid,
                                           'ic-error-form': formTemplateMilestone.controls.milestoneFunctionValue.touched && formTemplateMilestone.controls.milestoneFunctionValue.invalid}" class="ic"></i>
                          </span>
                        </span>
                       </div>
                    </div>

                    <div class="form-group m-form__group" *ngIf="currentUnitTypeCode=='BOOLEAN'">
                      <label class="required">Select value:</label>

                      <select class="BOOLEAN form-control m-input" formControlName="milestoneFunctionValueBoolean">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </div>

                    <div class="form-group m-form__group" *ngIf="currentUnitTypeCode=='ENUM'">
                      <label class="required">Select value:</label>

                      <p-dropdown formControlName="milestoneFunctionValueEnum"
                                  [options]="currentFunctionsValuesList"
                                  optionLabel="text"
                                  optionsField="id"
                                  [required]="true"
                                  [autofocus]="false"
                                  [autoWidth]="false"
                                  (onChange)="getValueEnum($event.value)"
                      >
                      </p-dropdown>
                      <!--<select class="ENUM form-control m-input" formControlName="milestoneFunctionValueEnum">
                        <option *ngFor="let value of currentFunctionsValuesList" value="{{value.id}}">{{value.text}}</option>
                      </select>-->
                    </div>

                    <div class="form-group m-form__group" *ngIf="currentUnitTypeCode=='INT_RANGE'">
                      <label class="required">Select value:</label>
                     <!--  <input name="percent" formControlName="milestoneFunctionValueMin" aria-describedby="basic-addon1" class="form-control m-input"  type="text" [textMask]="{mask: maskMM}" placeholder="{{currentLocalizedUnitName}}" (change)="getVal(formTemplateMilestone.controls.milestoneFunctionValueMin.value)"> -->
                       <div class="m-input-icon m-input-icon&#45;&#45;right">
                         <div class="input-group m-input-group m-input-group&#45;&#45;square">
                             <span class="input-group-addon" >
                               {{currentLocalizedUnitName}}
                             </span>
                           <input name="milestoneFunctionValueMin" formControlName="milestoneFunctionValueMin" aria-describedby="basic-addon1" class="INT_RANGE form-control m-input" placeholder="Margin" type="text">
                         </div>
                         <span class="m-input-icon__icon m-input-icon__icon&#45;&#45;right">
                          <span>
                            <i [ngClass]="{'ic-valid-form': formTemplateMilestone.controls.milestoneFunctionValueMin.touched && formTemplateMilestone.controls.milestoneFunctionValueMin.valid,
                                           'ic-error-form': formTemplateMilestone.controls.milestoneFunctionValueMin.touched && formTemplateMilestone.controls.milestoneFunctionValueMin.invalid}"
                               class="ic"></i>
                          </span>
                        </span>
                       </div>
                      <div class="m-input-icon m-input-icon--right">
                        <div class="input-group m-input-group m-input-group--square">
                            <span class="input-group-addon" >
                              {{currentLocalizedUnitName}}
                            </span>
                          <input name="milestoneFunctionValueMax" formControlName="milestoneFunctionValueMax" aria-describedby="basic-addon1" class="form-control m-input" placeholder="Margin" type="number">

                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                         <span>
                           <i [ngClass]="{'ic-valid-form': formTemplateMilestone.controls.milestoneFunctionValueMax.touched && formTemplateMilestone.controls.milestoneFunctionValueMax.valid,
                                          'ic-error-form': formTemplateMilestone.controls.milestoneFunctionValueMax.touched && formTemplateMilestone.controls.milestoneFunctionValueMax.invalid}"
                              class="ic"></i>
                         </span>
                       </span>
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-3 col-align-center">
                    <button type="submit" class="btn m-btn m-btn--custom m-btn--icon m-btn--pill btn-in-form"
                            [ngClass]="{'btn-metal': formTemplateMilestone.invalid, 'btn-accent': formTemplateMilestone.valid}"
                            (click)="addNewFunction()"
                            [disabled]="formTemplateMilestone.invalid">
                      + Add function
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="m-section__content">
              <form #functionsForm="ngForm">
                <div class="table-by-blocks m--margin-top-30 m--margin-bottom-15" *ngIf="currentFunctions.length > 0">
                  <div class="row t-row t-header">
                    <div class="col-md-8 t-td">Functions</div>
                    <div class="col-md-3 t-td">Target value</div>
                    <div class="col-md-1 t-td"></div>
                  </div>
                  <div class="row t-row t-body" *ngFor="let func of currentFunctions; let i=index; ">
                    <div class="col-md-8 t-td">{{func.localizedName}}</div>
                    <div class="col-md-3 t-td">
                      <div class="input-group m-input-group m-input-group--square" *ngIf="func.unitTypeCode=='INT'">
                                                <span class="input-group-addon">
                                                  {{func.localizedUnitName}}
                                                </span>
                        <input required name="{{i}}-{{func.function}}" [(ngModel)]="func.valueNumeric"
                               class="form-control m-input" type="number"/>
                      </div>
                      <div class="input-group m-input-group m-input-group--square"
                           *ngIf="func.unitTypeCode=='INT_RANGE'">
                                                <span class="input-group-addon">
                                                  {{func.localizedUnitName}}
                                                </span>
                        <input required name="{{i}}-{{func.function}}-min" [(ngModel)]="func.valueNumeric"
                               class="form-control m-input" type="number"/>
                        <input required name="{{i}}-{{func.function}}-max" [(ngModel)]="func.valueNumericMax"
                               class="form-control m-input" type="number"/>
                      </div>
                      <div class="input-group m-input-group m-input-group--square"
                           *ngIf="func.unitTypeCode=='BOOLEAN'">
                        <select name="{{i}}-{{func.function}}-boolean" class="form-control m-input" required
                                [(ngModel)]="func.valueBoolean">
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                      <div class="input-group m-input-group m-input-group--square" *ngIf="func.unitTypeCode=='ENUM'">
                        <p-dropdown name="{{i}}-{{func.function}}-enum"
                                    [options]="func.values"
                                    [(ngModel)]="mFunctionValueEnumTarget"
                                    optionLabel="text"
                                    [autofocus]="false"
                                    [autoWidth]="false"
                        >
                        </p-dropdown>
                        <!--<select name="{{i}}-{{func.function}}-enum" class="form-control m-input" required
                                [(ngModel)]="func.lookupValue">
                          <option *ngFor="let value of func.values" value="{{value.id}}">{{value.text}}</option>
                        </select>-->
                      </div>
                    </div>
                    <div class="col-md-1 t-td m--align-right">
                      <button type="button" pButton (click)="deleteFunction(func)"
                              class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-only">
                        <i class="fa fa-close"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--portlet footer -->
            <div class="m-section__foot">
              <div class="m-form__actions m-form__actions">
                <div class="row">
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-metal m-btn--pill m-btn m-btn--custom"
                            [ngClass]="{'btn-metal': formTemplateMilestone.invalid || functionsForm.invalid , 'btn-accent': formTemplateMilestone.valid && functionsForm.valid}"
                            (click)="saveMilestone()"
                            [disabled]="formTemplateMilestone.invalid || functionsForm.invalid"
                    >
                      Save milestone
                    </button>
                    <button type="reset" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom"
                            (click)="cancelEditMileStone()">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div><!--.m-portlet__foot -->

          </div> <!--.m-section__content-->
        </div> <!--.m-section-->

        <!-- portlet footer -->
        <div class="m-portlet__foot m-portlet__no-border m--padding-top-0">
          <div class="m-form__actions m-form__actions">
            <div class="row">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-metal m-btn--pill m-btn m-btn--custom"
                        (click)="modalOpen(formTemplateHeader.controls.planName.value)"
                        [ngClass]="{'btn-metal': formTemplateHeader.invalid , 'btn-accent': formTemplateHeader.valid}"
                        [disabled]="formTemplateHeader.invalid">
                  Save plan
                </button>
                <button type="reset" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom"
                        (click)="backToList()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div><!-- .m-portlet__foot -->
      </div> <!-- .m-portlet__body -->


    </div>
  </div> <!--.col-lg-12 -->

</div> <!--.row-->

