//
//** Table made by blocks
//
.td-content-fixed{
  word-wrap: break-word;
}

.table-by-blocks{
  border: 1px solid #e4e7eb;
  @include border-radius (10px);

  .t-header{
    background-color: #f8fafc;
    @include border-top-left-radius (10px);
    @include border-top-right-radius (10px);
    font-family: "HelveticaNeueCyrM";
  }
  >.t-body{
    &.t-row{
      border-bottom: 1px solid #e4e7eb;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .t-row {
    padding: 0.75em 15px;
    margin: 0;
  }
  .m-btn--icon .fa-close{
    font-size: 1.4rem !important;
  }
}


//
//** Table Component
//
$bdr-radius-greySelect: 20px;
$color-text-greySelect: #fff;
$color-bg-greySelect: #ced4db;

.col-width-200{
  width: 200px;
}

body div.ui-widget, body div.ui-widget .ui-widget, body div.ui-widget input, body div.ui-widget select, body div.ui-widget textarea, body div.ui-widget button{
  font-family: 'HelveticaNeueCyr';
}
body div.ui-datatable .ui-datatable-thead > tr > th,
body div.ui-datatable .ui-datatable-tfoot > tr > td{
  border-color: #e4e7eb;
}
body *.ui-state-active, body *.ui-state-highlight{
  background-color: #24b8dc;
}

body div.ui-datatable{
  .ui-datatable-thead {
    > tr {
      > th {
        border-left: 0;
        border-bottom: 0;
      }
    }
    >tr:first-child{
      >th:first-child{
          @include border-top-left-radius(5px);
        }
      >th:last-child{
        @include border-top-right-radius(5px);
      }
    }
  }
  table{
    table-layout: auto;
    margin-bottom: -1px;
    border-collapse: separate;
    border-spacing: 0px;
    tr{
      border-left: 1px solid #fff !important;
      border-bottom:0;
      td, th {
        border-bottom:0 !important;
        &:first-child{
          border-left: 1px solid #e4e7eb;
        }
      }
      &:last-child {
        td{
          border-bottom:1px solid #e4e7eb !important;
        }
        >td:first-child{
          @include border-bottom-left-radius(5px);
        }
        >td:last-child{
          @include border-bottom-right-radius(5px);
        }
      }
    }
  }

  .td-col-button{
    width: 40px;
  }
  .ui-datatable-thead{
    > tr > th{
      border-color: #e4e7eb;
      font-family: HelveticaNeueCyrM;
      &.ui-state-active {
        background-color: transparent;
        border-color: #e4e7eb;
        color: #24b8dc;
        .ui-sortable-column-icon {
          color: #24b8dc;
        }
      }
      &:hover {
        background-color: transparent;
        border-color: #e4e7eb;
        color: #24b8dc;
        .ui-sortable-column-icon {
          color: #24b8dc;
        }
      }
      &.ui-sortable-column{
        &:not(.ui-state-active){
          &:hover {
            background-color: transparent;
          }
        }
      }
      .fa{
        width: 10px;

        &:before{
          display: inline-block;
          width: 10px;
          height: 11px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
      }
      .ui-sortable-column-icon {
        color: #9fa8b1;
        margin-left: 2px;
      }
      .fa-sort:before {
        content: "";
        background-image: url(../../../app/media/img/icons/table-sort-default.svg);
      }
      .fa-sort-asc:before {
        content: "";
        background-image: url(../../../app/media/img/icons/table-sort-top.svg);
      }
      .fa-sort-desc:before {
        content: "";
        background-image: url(../../../app/media/img/icons/table-sort-bottom.svg);
      }
    }
  }

  .ui-datatable-data {
    tr{
      td{
        &.ui-editable-column{
          input{
            border: 1px solid array-get($rm--colors-form-control, input, border);
            @include border-radius(0.25rem);
          }
        }
      }
    }
    > tr.ui-widget-content {
      border-color: #e4e7eb;
      &:hover{
        background-color: #f8fafc;
      }
    }
    tr.ui-datatable-even {
      background-color: #fff;
    }
    tr.ui-widget-content{
      &.ui-datatable-odd{
        background-color: #fff;
        &:hover{
          background-color: #f8fafc;
        }
      }
    }
    .address{
      font-size: 12px;
      color: #979797;
    }
  }

  .ui-datatable-tfoot{
    > tr > th{
      border-color: #e4e7eb;
    }
  }
  .m-btn--icon.m-btn--icon-only [class^="fa-"], .m-btn--icon.m-btn--icon-only [class*=" fa-"] {
    font-size: 1.3rem;
  }

  .ui-paginator{
    width: 100%;
    text-align: left;
    margin-top: 20px;
    .ui-paginator-pages{
      .ui-paginator-page{
        padding: 0.5em 0;
      }
    }
    &.ui-widget-header{
      border: none;
    }
    .ui-paginator-element{
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: #ced4db;
      color: #fff;
      line-height: .9;
      text-align: center;
      font-size: 1.15rem;
      font-family: HelveticaNeueCyrL;
      &:hover{
        background-color: #ced4db;
      }
      &.ui-state-active{
        background-color: #24b8dc;
      }
      .fa{
        font-family: LineAwesome !important;
      }
      .fa-step-backward:before {
        content: "\f10d";
      }
      .fa-backward:before {
        content: "\f111";
      }
      .fa-forward:before {
        content: "\f112";
      }
      .fa-step-forward:before {
        content: "\f10e";
      }

    }
    .ui-paginator-rpp-options{
      float: right;
      background: #ced4db;
      border: none;
      color: #fff;
      height: 30px;
      border-radius: 30px;
      padding: 0 15px;
    }
    //select
    .ui-dropdown{
      width: auto;
      padding-right: 10px;
      float: right;
      @include border-radius($bdr-radius-greySelect);

      .ui-dropdown-label{
        background-color: $color-bg-greySelect;
        @include border-radius($bdr-radius-greySelect);
      }
      .ui-dropdown-trigger{
        background-color: $color-bg-greySelect;
        @include border-top-right-radius($bdr-radius-greySelect);
        @include border-bottom-right-radius($bdr-radius-greySelect)
      }
      &.ui-state-focus{
        .ui-dropdown-label,
        .ui-dropdown-trigger{
          background-color: $color-bg-greySelect;
        }
      }
      &:not(.ui-state-disabled){
        &:hover {
          background-color: $color-bg-greySelect;
          border-color: $color-bg-greySelect;
          .ui-dropdown-label,
          .ui-dropdown-trigger{
            background-color: $color-bg-greySelect;
          }
        }
      }
      .ui-inputtext{
        color: $color-text-greySelect;
        padding-left: 20px;
        padding-top: 0.45rem;
        padding-bottom: 0.45rem;
      }
      .ui-dropdown-trigger .fa {
        color: $color-text-greySelect;
        right: 3px;
        margin-top: .35em;
        position: relative;
      }
      .fa-caret-down:before {
        content: "\f107";
      }
      &.ui-dropdown-open{
        .fa-caret-down:before {
          content: "\f106";
        }
        .ui-widget-content {
          border-color: $color-bg-greySelect;
        }
        .ui-shadow {
          box-shadow: none;
        }
        .ui-helper-reset {
          line-height: 1.7;
        }
      }


    } /*select*/

  } /* .ui-paginator */

  //table without vertical borders
  &.dt-noborder{
    margin-top: 10px;

    .ui-widget-content{
      border-top: 0;
    }
    .ui-datatable-thead {
      > tr {
        > th {
          background-color: #f8fafc;
          font-size: .92em;
          text-align: left;
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
          &:hover{
            color: #373a3c;
            background-color: #f8fafc;
          }
        }
      }
    }
    .ui-datatable-data {
      > tr {
        > td {
          border-top: 0;
          border-left: 0;
          border-right: 0;
        }
      }
    }
  } // .dt-noborder

}

//dt footer whith counter of displayed rows
.ui-datatable-footer-counter {
  .ui-datatable {
    .ui-datatable-footer{
      position: absolute;
      right: 0;
      bottom: -14px;
      border: 0;
      background: transparent;
      padding-right: 0;
    }
    .ui-paginator {
      position: relative;
      .ui-dropdown {
        position: absolute;
        right: 170px;

      }
    }
  }
  &.counter-lg{
    .ui-paginator {
      .ui-dropdown {
        right: 200px;
      }
    }
  }
}

//dt with hide filter
.ui-datatable-filter-hide {
  .ui-column-filter{
    display: none !important;
  }
}

//== Component Base
@mixin m-build-component--table-base() {
    .table {
        th {
            font-weight: get-font-weight(bolder);
        }

        td {
            font-weight: get-font-weight(regular);
        }

        &.table-striped {
            thead th {
                border: 0;
            }

            tbody {
                th, td {
                    border1: 0;
                }
            }
        }
    }

    .m-table {
        &.m-table--head-no-border {
            thead th {
                border-top: 0;
            }
        }
    }
}

//== Component Skin
@mixin m-build-component--table-skin($skin) {
    .m-table {
        // state colors
        @each $name, $color in $m--state-colors {
            &.m-table--head-bg-#{$name} {
                thead th {
                    background: array-get($color, base);
                    color: array-get($color, inverse);
                    border-bottom: 0;
                    border-top: 0;
                }
            }

            &.m-table--head-separator-#{$name} {
                thead th {
                    border-top: 0;
                    border-bottom: 1px solid array-get($color, base);
                }
            }

            tr.m-table__row--#{$name} {
                th,td {
                    background: array-get($color, base);
                    color: array-get($color, inverse);
                    border-bottom: 0;
                    border-top: 0;
                }
            }

            &.m-table--border-#{$name} {
                &,
                th, td {
                    border-color: array-get($color, base);
                }
            }
        }
    }
}

//== Build Component Base
@include m-build-component--table-base();

//== Build Component - Light Skin
@include m-build-component--table-skin(light);
