<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title">
        Регистрация организации
      </h1>
    </div>
  </div>
</div>

<div class="m-content">

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body m--padding-bottom-0">
      <div class="m-section m-section--stepbar">
        <ul class="nav stepbar" role="tablist">
          <li class="stepbar-item stepbar-item-1">
            <a class="stepbar-link"
               [ngClass]="{'': currentStep != 'MAIN', 'active': currentStep == 'MAIN', 'overstep': overStep1}"
               (click)="setStep('MAIN');saveAll();">
                <span class="stepbar-line stepbar-line-fst"></span>
                <span class="stepbar-number">1</span>
              <span class="stepbar-name">Информация об организации</span>
            </a>
          </li>
          <li class="stepbar-item stepbar-item-2">
            <a class="stepbar-link"
               [ngClass]="{'': currentStep != 'ADDRESS', 'active': currentStep == 'ADDRESS', 'overstep': overStep2}"
               (click)="setStep('ADDRESS');saveAll();">
                <span class="stepbar-line"></span>
                <span class="stepbar-number">2</span>
              <span class="stepbar-name">Адреса организации</span>
            </a>
          </li>
          <li class="stepbar-item stepbar-item-3">
            <a class="stepbar-link"
               [ngClass]="{'': currentStep != 'CONTACT', 'active': currentStep == 'CONTACT', 'overstep': overStep3}"
               (click)="setStep('CONTACT');saveAll();">
              <span class="stepbar-line"></span>
              <span class="stepbar-number">3</span>
              <span class="stepbar-name">Контактная информация</span>
            </a>
          </li>
          <li class="stepbar-item stepbar-item-4">
            <a class="stepbar-link"
               [ngClass]="{'': currentStep != 'LEGAL', 'active overstep': currentStep == 'LEGAL'}"
               (click)="setStep('LEGAL');saveAll();">
              <span class="stepbar-line"></span>
              <span class="stepbar-number">4</span>
              <span class="stepbar-name">Данные договора</span>
            </a>
          </li>
        </ul>
      </div> <!--.m-section-->

      <div class="m-section">
        <div class="m-section__content" *ngIf="currentStep == 'MAIN'">
          <main-information
            [organization]="model"
            (setStep)="setStep($event)"
                (mainInformation)="setMainInformation($event)"
                (cancelStep)="cancelEdit()"
                (onOverStep)="getOverStep($event)">
          </main-information>
        </div>

        <div class="m-section__content" *ngIf="currentStep == 'ADDRESS'">
          <address-information
            [organization]="model"
            (setStep)="setStep($event)"
                (addressInformation)="setAddress($event)"
                (cancelStep)="cancelEdit()"
                (onOverStep)="getOverStep($event)">
          </address-information>
        </div>

        <div class="m-section__content" *ngIf="currentStep == 'CONTACT'">
          <contact-information
            [organization]="model"
            (setStep)="setStep($event)"
                (contactInformation)="setContactInformation($event)"
                (cancelStep)="cancelEdit()"
                (onOverStep)="getOverStep($event)">
          </contact-information>
        </div>

        <div class="m-section__content" *ngIf="currentStep == 'LEGAL'">
          <legal-information
            [organization]="model"
            (setStep)="setStep($event)"
                (save)="save()"
                (legalInformation)="setLegalInformation($event)"
                (cancelStep)="cancelEdit()"
                (onOverStep)="getOverStep($event)"
                  >
          </legal-information>
        </div>
      </div> <!--.m-section-->


    </div> <!--.m-portlet__body-->
  </div> <!--.m-portlet-->



  </div>
