<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Врачи2
      </h3>
    </div>
    <div class="">
      <a routerLink="/admin/doctors/add-doctor" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill">
            <span>
                <i class="la la-plus"></i>
                <span >
                    Добавить врача
                </span>
            </span>
      </a>
      <div class="m-separator m-separator--dashed d-xl-none"></div>
    </div>
  </div>
</div>



<!--END: Subheader -->
<!--<div class="m-content" *ngIf="dataSource">-->
  <!--<div class="m-portlet m-portlet&#45;&#45;mobile">-->
    <!--<div class="m-portlet__body">-->
      <!--<div class="m-section m-section&#45;&#45;tabs">-->
        <!--<ul class="nav nav-tabs m-tabs-line m-tabs-line&#45;&#45;2x m-tabs-line&#45;&#45;accent" role="tablist">-->
          <!--<li *ngFor="let role of roles" class="nav-item m-tabs__item">-->
            <!--<a class="nav-link m-tabs__link" [class.active]="role.active" (click)="activeRole(role)">-->
              <!--{{ role.name }}-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

      <!--<div class="m-section">-->

                    <!--<div class="m-section__content">-->
                      <!--<div class="row">-->

                        <!--<div class="col-lg-5">-->
                          <!--<div class="form-group m-form__group">-->
                            <!--<div class="m-input-icon m-input-icon&#45;&#45;right m-input-icon-hover">-->
                              <!--<input #gb type="text" placeholder="Поиск пользователя или организации" class="form-control m-input">-->
                              <!--<span class="m-input-icon__icon m-input-icon__icon&#45;&#45;right">-->
                                    <!--<span>-->
                                      <!--<i class="la la-search"></i>-->
                                    <!--</span>-->
                                  <!--</span>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-lg-4">-->
                          <!--<div class="form-group m-form__group">-->
                            <!--<div class="m-input-icon m-input-icon&#45;&#45;right">-->
                              <!--<p-calendar-->
                                <!--name="regDate"-->
                                <!--[(ngModel)]="regDate"-->
                                <!--[showIcon]="true"-->
                                <!--selectionMode="range"-->
                                <!--readonlyInput="true"-->
                                <!--[locale]="ru"-->
                                <!--(onClose)="filterDate(datatable)"-->
                                <!--(onClearClick)="clearDate(datatable)"-->
                                <!--dateFormat="dd.mm.yy"-->
                                <!--placeholder="Дата регистрации"-->
                                <!--showButtonBar="true"-->
                                <!--styleClass="ui-calendar-navs ui-calendar-range"-->
                                <!--[monthNavigator]="true"-->
                                <!--[yearNavigator]="true"-->
                                <!--yearRange="2000:2028">-->
                              <!--</p-calendar>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-lg-3">-->
                          <!--<div class="form-group m-form__group">-->
                            <!--<p-dropdown name="condition" placeholder="Статус" class="fld-condition"-->
                                        <!--#ddCondition-->
                                        <!--[options]="conditions"-->
                                        <!--[(ngModel)]="condition"-->
                                        <!--[autoWidth]="false"-->
                                        <!--(onChange)="datatable.filter($event.value,colCondition.field,colCondition.filterMatchMode);">-->
                            <!--</p-dropdown>-->
                          <!--</div>-->
                        <!--</div>-->

                      <!--</div>-->
                    <!--</div>-->

        <!--<div class="m-section__content">-->
          <!--<p-dataTable class="ui-datatable-filter-hide ui-datatable-footer-counter"-->
                       <!--#datatable-->
                       <!--[value]="dataSource"-->
                       <!--[rows]="10"-->
                       <!--[paginator]="true"-->
                       <!--[pageLinks]="3"-->
                       <!--[loading]="loading" loadingIcon="fa-spinner"-->
                       <!--[rowsPerPageOptions]="[5,10,20,100]"-->
                       <!--[globalFilter]="gb"-->
                       <!--emptyMessage="Пользователи не найдены"-->
                       <!--(onPage)="getDt(datatable); countRows($event)"-->
                       <!--(onFilter)="getDt(datatable); countRowsFilter($event)"-->
                       <!--sortField="registrationDate"-->
                       <!--[sortOrder]="-1">-->
            <!--&lt;!&ndash;<p-footer>&ndash;&gt;-->
            <!--&lt;!&ndash;<span [ngSwitch]="isFiltered">&ndash;&gt;-->
            <!--&lt;!&ndash;<span *ngSwitchCase="'fromTo'">Показано {{rowFrom}}-{{rowUntil}} из {{filteredLength}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span *ngSwitchCase="'empty'">Показано 0</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span *ngSwitchCase="'one'">Показано 1-1</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span *ngSwitchDefault>Показано {{rowFrom}}-{{rowUntil}} из {{datatable.value.length}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</p-footer>&ndash;&gt;-->
            <!--<p-column field="fio" header="ФИО" [sortable]="true" filterMatchMode="contains" [style]="{'width':'300px'}">-->
              <!--<ng-template let-item="rowData" pTemplate="body">-->
                <!--<div class="td-content-fixed" style="width: 300px;">-->
                  <!--<img *ngIf="item.url" [src]="item.url"/>-->
                  <!--<img *ngIf="!item.url" style="width: 30px; height: 30px;" src="./assets/app/media/img/users/no-photo-user.png"/>-->
                  <!--{{ item.fio }}-->
                <!--</div>-->
              <!--</ng-template>-->
            <!--</p-column>-->
            <!--<p-column field="login" header="Логин" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'width':'10%'}" #loginss></p-column>-->
            <!--<p-column field="organization" header="Организация" [sortable]="true">-->
              <!--<ng-template let-item="rowData" pTemplate="body">-->
                <!--<div class="organization">{{ item.organization }}</div>-->
                <!--<div class="address">{{ item.address }}</div>-->
              <!--</ng-template>-->
            <!--</p-column>-->
            <!--<p-column-->
              <!--field="statusText"-->
              <!--header="Статус"-->
              <!--[sortable]="true"-->
              <!--[filter]="true"-->
              <!--filterMatchMode="equals"-->
              <!--#colCondition-->
              <!--[style]="{'width':'130px'}">-->

              <!--<ng-template let-item="rowData" pTemplate="body">-->
                <!--<span class="m-badge m-badge&#45;&#45;wide m-badge&#45;&#45;{{item.class}}">{{item.statusText}}</span>-->
              <!--</ng-template>-->
            <!--</p-column>-->
            <!--<p-column-->
              <!--field="registrationDate"-->
              <!--hidden="true"-->
              <!--header="Дата"-->
              <!--[sortable]="true"-->
              <!--[filter]="true">-->
            <!--</p-column>-->
            <!--<p-column-->
              <!--field="address"-->
              <!--hidden="true"-->
              <!--[sortable]="true"-->
              <!--[filter]="true">-->
            <!--</p-column>-->
            <!--<p-column styleClass="td-col-button">-->
              <!--<ng-template let-item="rowData" pTemplate="body">-->
                <!--<div class="dropdown">-->
                  <!--<a href="#" class="btn m-btn m-btn&#45;&#45;hover-inverse-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only"-->
                  <!--&gt;&lt;!&ndash; data-toggle="dropdown" закоментированый атрибут &ndash;&gt;-->
                    <!--<i class="fa fa-cog"></i>-->
                  <!--</a>-->
                  <!--<div class="dropdown-menu dropdown-menu-right">-->
                    <!--<a class="dropdown-item" href="#">Просмотр профиля</a>-->
                    <!--<a class="dropdown-item" href="#" (click)="modalOpen(item.id,item.fio)">Заблокировать-->
                      <!--пользователя</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</ng-template>-->
            <!--</p-column>-->
          <!--</p-dataTable>-->
        <!--</div> &lt;!&ndash;.m-section__content&ndash;&gt;-->

      <!--</div>  &lt;!&ndash;.m-section&ndash;&gt;-->

    <!--</div> &lt;!&ndash;.m-portlet__body&ndash;&gt;-->
  <!--</div>-->

<!--</div>-->


