<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login" appunwraptag="">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid">
				<div class="m-login__wrapper">
					<div class="m-login__logo">
						<a href="#">
							<img src="./assets/app/media/img//logos/logo-2.png">
						</a>
					</div>
					<div class="m-login__signin">
						<div class="m-login__head">
							<!--<h3 class="m-login__title">
								Sign In To Admin
							</h3>-->
						</div>
						<form class="m-login__form m-form" action="">
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Ваш логин" name="login" autocomplete="off">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Пароль" name="password">
							</div>
							<!--<div class="row m-login__form-sub">
								<div class="col m&#45;&#45;align-left">
									<label class="m-checkbox m-checkbox&#45;&#45;focus">
										<input type="checkbox" name="remember">
										Remember me
										<span></span>
									</label>
								</div>
								<div class="col m&#45;&#45;align-right">
									<a href="javascript:;" id="m_login_forget_password" class="m-link">
										Forget Password ?
									</a>
								</div>
							</div>-->
							<div class="m-login__form-action">
								<button id="m_login_signin_submit" class="btn btn-accent m-btn m-btn--custom m-btn--pill">
                                    Войти
								</button>
							</div>
						</form>
					</div>
					<!--<div class="m-login__signup">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Sign Up
							</h3>
							<div class="m-login__desc">
								Enter your details to create your account:
							</div>
						</div>
						<form class="m-login__form m-form" action="">
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Fullname" name="fullname">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="password" placeholder="Password" name="password">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input&#45;&#45;last" type="password" placeholder="Confirm Password" name="rpassword">
							</div>
							<div class="row form-group m-form__group m-login__form-sub">
								<div class="col m&#45;&#45;align-left">
									<label class="m-checkbox m-checkbox&#45;&#45;focus">
										<input type="checkbox" name="agree">
										I Agree the
										<a href="#" class="m-link m-link&#45;&#45;focus">
											terms and conditions
										</a>
										.
										<span></span>
									</label>
									<span class="m-form__help"></span>
								</div>
							</div>
							<div class="m-login__form-action">
								<button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom m-btn&#45;&#45;air">
									Sign Up
								</button>
								<button id="m_login_signup_cancel" class="btn btn-outline-focus  m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom">
									Cancel
								</button>
							</div>
						</form>
					</div>-->
					<!--<div class="m-login__forget-password">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Forgotten Password ?
							</h3>
							<div class="m-login__desc">
								Enter your emailto reset your password:
							</div>
						</div>
						<form class="m-login__form m-form" action="">
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
							</div>
							<div class="m-login__form-action">
								<button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom m-btn&#45;&#45;air">
									Request
								</button>
								<button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom">
									Cancel
								</button>
							</div>
						</form>
					</div>-->
				</div>
			</div>
			<div class="m-stack__item m-stack__item--center m-footer_login">
				<div class="m-login__account">
					<span class="m-login__account-msg">
						© 2017, REMSMED AG. Все права защищены 1.10.1
					</span>
					&nbsp;&nbsp;
					<a href="javascript:;" id="m_login_signup" class="m-link m-link--focus m-btn-helpdesk m-btn-width-auto">
                        Техническая поддержка
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(./assets/app/media/img//bg/bg-4.jpg)">
		<!--<div class="m-grid__item m-grid__item&#45;&#45;middle">
			<h3 class="m-login__welcome">
				Join Our Community
			</h3>
			<p class="m-login__msg">
				Lorem ipsum dolor sit amet, coectetuer adipiscing
				<br>
				elit sed diam nonummy et nibh euismod
			</p>
		</div>-->
	</div>
</div>
