<div class="form-group m-form__group">
  <input type="file" #fileInput
         class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom" (change)="selectFile($event)"
         style="display:none"/>

  <button type="button"
          class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom" (click)="triggerFile(fileInput)"
          style="width: 250px; margin-top: 30px">
    + Добавить документ
  </button>
  <div class="form-group m-form__group">
    <small class="text-muted">
      Документ должен быть следующих расширений: .jgp, .png, .gif, .pdf, .bmp. И не превышать 20 Mb
    </small>
  </div>

  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
         role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100"
         [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%
    </div>
  </div>

</div>

