<!--<span [ngSwitch]="isFiltered">
  <span *ngSwitchCase="'fromTo'">Показано {{rowFrom}}-{{rowUntil}} из {{filteredLength}}</span>
  <span *ngSwitchCase="'empty'">Показано 0</span>
  <span *ngSwitchCase="'one'">Показано 1-1</span>
  <span *ngSwitchDefault>Показано {{rowFrom}}-{{rowUntil}} из {{dtLength}}</span>
</span>-->
