<div class="modal-header modal-header__no-border">
  <h4 class="modal-title">Attention</h4>
  <button (click)="activeModal.dismiss()" type="button" class="close" aria-label="Close">
    <i class="" aria-hidden="true"></i>
  </button>
</div>
  <div class="modal-body">
    <div class="m-portlet__body">
      {{textAttention}}
    </div>
  </div>
  <div class="modal-footer modal-footer__right modal-footer__no-border">
    <button (click)="confirmClose()" class="btn btn-accent m-btn--pill m-btn m-btn--custom" type="submit">
      {{btnAttention}}
    </button>
    <button (click)="activeModal.dismiss()" class="btn m-btn--pill btn-secondary m-btn m-btn--custom" type="reset">
      Cancel
    </button>
  </div>
