<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Пользователи
            </h3>
        </div>
        <div class="">
            <a routerLink="/admin/users/add-user" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill">
            <span>
                <i class="la la-plus"></i>
                <span>
                    Добавить пользователя
                </span>
            </span>
            </a>
            <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
    </div>
</div>
<!--END: Subheader -->
<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <div class="m-section m-section--tabs">
        <ul class="nav nav-tabs m-tabs-line m-tabs-line--2x m-tabs-line--accent" role="tablist">
          <li class="nav-item m-tabs__item">
            <a routerLink="/admin/users/admin-clinic" routerLinkActive="active" class="nav-link m-tabs__link">
              Администраторы клиник
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a routerLink="/admin/users/doctor" routerLinkActive="active" class="nav-link m-tabs__link">
              Врачи
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a routerLink="/admin/users/patient" routerLinkActive="active" class="nav-link m-tabs__link">
              Пациенты
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a routerLink="/admin/users/expert" routerLinkActive="active" class="nav-link m-tabs__link">
              Эксперты
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a routerLink="/admin/users/trainer" routerLinkActive="active" class="nav-link m-tabs__link">
              Тренеры
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a routerLink="/admin/users/test-search-list" routerLinkActive="active" class="nav-link m-tabs__link">
              Test
            </a>
          </li>
        </ul>
      </div>
        <router-outlet></router-outlet>

    </div> <!--.m-portlet__body-->
  </div>

</div>
