// ellipsis with show/hide elements
.ellipsis_hidden{
  &.ellipsis_hidden-hide{
    .ellipsis_hidden_item{
      &:nth-child(n+4){
        display: none;
      }
    }
    &.ellipsis_hidden-show{
        display: inline;
    }
  }
  .ellipsis_hidden_controls{
    color: array-get($rm-colors, greyIconField);
    font-family: HelveticaNeueCyrM;
    white-space: nowrap;
    cursor: pointer;
    &:hover{
      color: array-get($m--state-colors, accent, base);
    }
  }
}

// ellipsis when overflow multi-line text
.ellipsis{
  overflow: hidden;
  word-wrap: break-word;
}
.ellipsis:before {
  content:"";
  float: left;
  width: 5px;
}

.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.ellipsis:after {
  content: "...";
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  float: right;
  position: relative;
  top: -22px;
  left: 100%;
  width: 1.5em;
  margin-left: -1.5em;
  padding-right: 5px;
  text-align: right;
  background: #fff;
}

//elipsis for modal confirm
$h-modal-confirm: 88px;

.ellipsis-modal-confirm{
  //height: $h-modal-confirm;
  &:before {
    height: $h-modal-confirm;
  }
}

//separator
.cell-data-separator{
  .separator{
    &:after{
      content: ', '
    }
    &:last-child:after{
      content: ''
    }
  }
  &:not(.ellipsis_hidden-show){
    .separator{
      &:nth-child(3):after{
        content: ''
      }
    }
  }
  &.ellipsis_hidden-show{
    .separator{
      &:nth-last-of-type(2):after{
        content: ''
      }
    }
  }
}

.field-w80 .m-input{
  width: 80px;
}
/*@media (min-width: 1024px) and (max-width: 1125px) {
  .field-w80 .m-input{
    width: 60px;
    padding: 0.65rem;
  }
}*/
//<992px
//@include tablet-and-mobile {
  .row--margin-left-0{
    margin-left: 0 !important;
  }
//}

.col-fixed{
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width:1100px){
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-fixed{
    position: static;
  }
}

.wr-rel{
  position: relative;
}
.font-la {
  .fa {
    font-family: LineAwesome;
  }
  .fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f191";
  }
}
