//
//** Section Component
//

//== Component Base
@mixin m-build-component--typography-section-base() {
    .m-section {
        margin: 0 0 40px 0;
      h4{
        font-size: 1.5rem;
        color: #353535;
        margin: 40px 0 10px 0;
        font-family: "HelveticaNeueCyrM";
      }
      &.m-section--stepbar{
        margin-bottom: 50px;
      }
      &.m-section--tabs{
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 20px;
      }
      &.m-section__border{
        border: 1px solid #e4e7eb;
        padding: 20px;
        border-radius: 5px;
      }
      &.m-section__border_bt{
        border-bottom: 1px solid #e4e7eb;
      }
    	.m-section__heading {
            display: block;
            margin: 0;
            padding: 0 0 20px 0;
          font-family: "HelveticaNeueCyrB";

        }

        h3.m-section__heading {
          font-size: 1.7rem;
        }

        h2.m-section__heading {
          font-family: "HelveticaNeueCyr";
          font-size: 1.4rem;
          color: #9fa8b1;
          padding-top: 30px;
        }

        h1.m-section__heading {
            font-size: get-font-size(regular, '+++');
        }

        .m-section__sub {
            display: block;
            margin: 5px 0 10px 0;
            font-size: 1.15rem;
        }

        .m-section__content {
            margin: 0 0 10px 0;
            font-size: get-font-size(regular);
        }

        .m-section__seperator {
            margin: 5px 0;
            height: 1px;
            overflow: hidden;
            display: block;
        }

        &.m-section--last {
            margin-bottom: 0;

            .m-section__content {
                margin-bottom: 0;
            }
        }
      .m-section__foot{
        margin-top: 20px;
      }
    }
}


//== Component Skin
@mixin m-build-component--typography-section-skin($skin) {
    @include component-skin(m-section, $skin) {
        .m-section__heading {
            color: get-color($skin, regular, '+');
        }

        .m-section__sub {
            color: get-color($skin, regular, '-');
        }

        .m-section__content {
            color: get-color($skin, regular);
        }
    }
}

//== Build Component Base
@include m-build-component--typography-section-base();

//== Build Component - Light Skin
@include m-build-component--typography-section-skin(light);

//== Build Component - Dark Skin
@include m-build-component--typography-section-skin(dark);
