//
//** Global Helper Classes
//
@media (min-width: 1440px) {
  @each $prop in (padding-left) {
    @each $name, $percent in $percents {
      .m--padding-left-#{$name}-per { #{$prop}: $percent; }
    }
  }
  @each $prop in (padding-right) {
    @each $name, $percent in $percents {
      .m--padding-right-#{$name}-per { #{$prop}: $percent; }
    }
  }
  @each $prop in (margin-left) {
    @each $name, $percent in $percents {
      .m--offset-lt-#{$name}-per { #{$prop}: -$percent; }
    }
  }
}

@each $prop in (padding-left) {
  @each $name, $offset in $offsetColPx {
    .col-offset-lt-#{$name} { #{$prop}: $offset; }
  }
}

@each $prop in (width) {
  @each $name, $size in $sizesPx {
    .col-#{$name} { #{$prop}: $size; }
  }
}

@each $prop, $abbrev in (width: w) {
  @each $size, $length in $sizesPx {
    .#{$abbrev}#{$size} { #{$prop}: $length !important; }
  }
}

@each $prop, $abbrev in (font-size: sz) {
  @each $name, $size in $fntSizeRem {
    .fnt-size-#{$name} { #{$prop}: $size; }
  }
}

@for $ii from 0 through 10 {
  $num: $ii * 5;

  .m--margin-left_-#{$num} {
    margin-left: -#{$num}px !important;
  }

  .m--margin-right_-#{$num} {
    margin-right: -#{$num}px !important;
  }

  .m--padding-left_-#{$num} {
    padding-left: -#{$num}px !important;
  }

  .m--padding-right_-#{$num} {
    padding-right: -#{$num}px !important;
  }
}

@for $i from 0 through 10 {
	$num: $i * 5;

	.m--margin-#{$num} {
		margin: #{$num}px !important;
	}

	.m--margin-top-#{$num} {
		margin-top: #{$num}px !important;
	}

	.m--margin-bottom-#{$num} {
		margin-bottom: #{$num}px !important;
	}

	.m--margin-left-#{$num} {
		margin-left: #{$num}px !important;
	}

	.m--margin-right-#{$num} {
		margin-right: #{$num}px !important;
	}

	.m--padding-#{$num} {
		padding: #{$num}px !important;
	}

	.m--padding-top-#{$num} {
		padding-top: #{$num}px !important;
	}

	.m--padding-bottom-#{$num} {
		padding-bottom: #{$num}px !important;
	}

	.m--padding-left-#{$num} {
		padding-left: #{$num}px !important;
	}

	.m--padding-right-#{$num} {
		padding-right: #{$num}px !important;
	}
}

.m--full-height {
	height: 100%;
}

.m--valign-top {
	vertical-align: top;
}

.m--space-5 {
	display: block;
	height: 0;
	margin-bottom: 5px;
}

.m--space-10 {
	display: block;
	height: 0;
	margin-bottom: 10px;
}

.m--space-15 {
	display: block;
	height: 0;
	margin-bottom: 15px;
}

.m--space-20 {
	display: block;
	height: 0;
	margin-bottom: 20px;
}

.m--space-30 {
	display: block;
	height: 0;
	margin-bottom: 30px;
}

.m--space-40 {
	display: block;
	height: 0;
	margin-bottom: 40px;
}

.m--valign-middle {
	vertical-align: middle;
}

.m--valign-bottom {
	vertical-align: bottom;
}

.m--block-center {
	margin-left: auto;
	margin-right: auto;
}

.m--align-right {
	text-align: right;
}

.m--align-left {
	text-align: left;
}

.m--align-center {
	text-align: center;
}

.m--pull-right {
	float: right;
}

.m--pull-left {
	float: left;
}

.m--img-rounded {
	@include border-radius(50%);
}

.m--block-inline {
	display: inline-block;
}

.m--hide {
	display: none !important;
}

.m--clearfix {
	@include clearfix();
}

.m--marginless {
	margin: 0 !important;
}

.m--img-centered {
	text-align: center;
}

//== Text Transform
.m--font-transform-u {
	text-transform: uppercase;
}

.m--font-transform-l {
	text-transform: lowercase;
}

.m--font-transform-c {
	text-transform: capitalize;
}

.m--font-transform-i {
	text-transform: initial;
}

//== Font Weights
@each $name, $weight in $m--font-weights {
	.m--font-#{$name} {
		font-weight: $weight;
	}
}

//== Font Sizes
@each $type, $sizes in $m--font-sizes {
	@each $name, $size in $sizes {
		$level: get-font-size-level($name);

		.m--#{$type}-font-size-#{$level} {
			font-size: $size !important;
		}
	}
}

//== State font color
@each $name, $color in $m--state-colors {
	.m--font-#{$name} {
		color: array-get($color, base) !important;
	}

	.m--font-inverse-#{$name} {
		color: array-get($color, inverse) !important;
	}

	.m--bg-#{$name} {
		background-color: array-get($color, base) !important;
	}

	.m--bg-fill-#{$name} {
		background-color: array-get($color, base) !important;
		color: array-get($color, inverse) !important;
	}
}

//== Responsive Helpers
.m--visible-desktop,
.m--visible-desktop-inline-block,
.m--visible-desktop-inline,
.m--visible-desktop-table,
.m--visible-desktop-table-cell,

.m--visible-tablet,
.m--visible-tablet-inline-block,
.m--visible-tablet-inline,
.m--visible-tablet-table,
.m--visible-tablet-table-cell,

.m--visible-tablet-and-mobile,
.m--visible-tablet-and-mobile-inline-block,
.m--visible-tablet-and-mobile-inline,
.m--visible-tablet-and-mobile-table,
.m--visible-tablet-and-mobile-table-cell,

.m--visible-mobile,
.m--visible-mobile-inline-block,
.m--visible-mobile-inline,
.m--visible-mobile-table,
.m--visible-mobile-table-cell {
	display: none !important;
}

@include desktop {
	.m--visible-desktop {
		display: block !important;
	}

	.m--visible-desktop-inline-block {
		display: inline-block !important;
	}

	.m--visible-desktop-inline {
		display: inline !important;
	}

	.m--visible-desktop-table {
		display: table !important;
	}

	.m--visible-desktop-table-cell {
		display: table-cell !important;
	}

	.m--hidden-desktop {
		display: none !important;
	}
}

@include tablet {
	.m--visible-tablet {
		display: block !important;
	}

	.m--visible-tablet-inline-block {
		display: inline-block !important;
	}

	.m--visible-tablet-inline {
		display: inline !important;
	}

	.m--visible-tablet-table {
		display: table !important;
	}

	.m--visible-tablet-table-cell {
		display: table-cell !important;
	}

	.m--hidden-tablet {
		display: none !important;
	}
}

@include tablet-and-mobile {
	.m--visible-tablet-and-mobile {
		display: block !important;
	}

	.m--visible-tablet-and-mobile-inline-block {
		display: inline-block !important;
	}

	.m--visible-tablet-and-mobile-inline {
		display: inline !important;
	}

	.m--visible-tablet-and-mobile-table {
		display: table !important;
	}

	.m--visible-tablet-and-mobile-table-cell {
		display: table-cell !important;
	}

	.m--hidden-tablet-and-mobile {
		display: none !important;
	}
}

@include mobile {
	.m--visible-mobile {
		display: block !important;
	}

	.m--visible-mobile-inline-block {
		display: inline-block !important;
	}

	.m--visible-mobile-inline {
		display: inline !important;
	}

	.m--visible-mobile-table {
		display: table !important;
	}

	.m--visible-mobile-table-cell {
		display: table-cell !important;
	}

	.m--hidden-mobile {
		display: none !important;
	}
}

@each $breakpoint, $breakpoint-width in $m--layout-breakpoints {
    .m--visible-#{$breakpoint},
	.m--visible-#{$breakpoint}--inline-block {
		display: none !important;
	}
}

@each $breakpoint, $breakpoint-width in $m--layout-breakpoints {
    @media (max-width: $breakpoint-width) {
    	.m--visible-#{$breakpoint} {
			display: block !important;
		}

		.m--visible-#{$breakpoint}--inline-block {
			display: inline-block !important;
		}

		.m--hidden-#{$breakpoint} {
			display: none !important;
		}
    }
}
