<div class="modal-body m--align-center m--padding-50">
  <span class="icon-xl icon-green icon-round m--margin-bottom-20"></span>
  <p class="rm--font-lt">{{nameConfirm}}</p>
  <div class="ellipsis ellipsis-modal-confirm m--margin-bottom-10"
       [style.height.px]="heightEllipsis">
    <div>
      <p class="rm--font-md m--text-font-size-lg3" #ellipsisText>{{targetConfirm}}</p>
    </div>
  </div>
  <p class="rm--font-lt m--text-font-size-lg3">{{eventConfirm}}</p>
</div>
