<div class="modal-body m--align-center m--padding-50">
  <span class="icon-xl icon-green icon-round m--margin-bottom-20"></span>
  <p class="rm--font-lt"></p>
  <p class="rm--font-md m--text-font-size-lg3">Системный администратор добавлен</p>
  <p class="rm--font-lt m--text-font-size-lg3"></p>
</div>
