<div
  class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin"
  id="m_login">
  <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
    <div class="m-stack m-stack--hor m-stack--desktop">
      <div class="m-stack__item m-stack__item--fluid">
        <div class="m-login__wrapper m-login__wrapper_visible">
          <div class="m-login__logo">
            <a href="#">
              <img src="./assets/app/media/img//logos/logo-2.png">
            </a>
          </div>
          <div class="m-login__signin">
             <form #f="ngForm" class="m-login__form m-form" novalidate>
             <p class="m-login__sub-heading">Для первого входа в систему придумайте себе логин и пароль</p>
            <div class="form-group m-form__group">
              <div class="row">
                <div class="m-input-icon m-input-icon--right col-lg-12">
                  <input name="login" type="text" class="form-control m-input" placeholder="Логин"
                         [(ngModel)]="model.login"
                         #login="ngModel"
                         minlength="8"
                         required
                  >
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span>
                       <i [ngClass]="{'ic-error-form': login.invalid && login.touched}" class="ic"></i>
                    </span>
                  </span>
                </div>

                <small class="text-danger text-danger__static" *ngIf="login.invalid && login.touched">Логин слишком короткий</small>
                <span class="m-form__help m-form__help_rt m-form__help_rt_abs">Минимум 8 символов. Регистр учитывается.</span>
              </div>
            </div>

            <div class="form-group m-form__group">
              <div class="row">
                <div class="m-input-icon m-input-icon--right col-lg-12">
                  <input name="password" class="form-control m-input" placeholder="Пароль"
                         type="{{ showPassword }}"
                         [(ngModel)]="model.password"
                          #password="ngModel"
                          minlength="8"
                         required
                  >
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                     <span (click)="showHidePassword()">
                      <i [ngClass]="{'ic-eye-active': isShowPass, 'ic-eye': !isShowPass}" class="ic "></i>
                    </span>
                  </span>
                </div>

                 <small class="text-danger text-danger__static" *ngIf="password.invalid && password.touched">Пароль слишком короткий</small>
                <span class="m-form__help m-form__help_rt m-form__help_rt_abs">Минимум 8 символов. Регистр учитывается.</span>
              </div>
            </div>

            <div class="form-group m-form__group">
              <div class="row">
                <div class="m-input-icon m-input-icon--right col-lg-12">
                  <input name="confirm" type="password" class="form-control m-input" placeholder="Подтвердите пароль"
                         [(ngModel)]="model.confirm"
                         #confirm ="ngModel"
                         [equalTo]="password"
                         required
                  >
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                  <span>
                     <i [ngClass]="{'ic-error-form': confirm.invalid && confirm.touched}" class="ic"></i>
                  </span>
                </span>
                </div>

                 <small class="text-danger text-danger__static" *ngIf="confirm.invalid && confirm.touched">Пароли не совпадают</small>
                <span class="m-form__help m-form__help_rt m-form__help_rt_abs"></span>
              </div>
            </div>

              <ng-template #alertSignin></ng-template>
               <!-- [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"-->
              <div class="m-login__form-action">
                <button type="submit" class="btn m-btn btn-metal m-btn--pill m-btn--custom"
                    [disabled]="f.invalid"
                        class="m-loader m-loader--right m-loader--light"

                    (click)="activate()"
                 >
                  Активация
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="m-stack__item m-stack__item--center m-footer_login">
        <div class="m-login__account">
					<span class="m-login__account-msg">
						© 2017, REMSMED AG. Все права защищены 1.10.1
					</span>
          &nbsp;&nbsp;
          <a href="javascript:;" id="m_login_signup"
             class="btn btn-outline-metal m-btn m-btn--custom m-btn-helpdesk m-btn-width-auto">
            Техническая поддержка
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content m-login__bg_dark"
    style="background-image: url(./assets/app/media/img/bg/bg-4.jpg)">
    <div class="m-grid__item m-grid__item--middle">
      <h1 class="m-login__welcome">
        Приветстуем Вас на платформе Remsmed
      </h1>
    </div>
  </div>
</div>
