/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

//
// 1. Set default font family to sans-serif.
// 2. Prevent iOS and IE text size adjust after device orientation change,
//    without disabling user zoom.
// 3. Set 100% height for document body

html {
  font-family: sans-serif; // 1
  text-size-adjust: 100%; // 2
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
  min-width: 768px;
    height: 100%;
    margin: 0px;
    padding: 0px;

    font-size: array-get($m--root-font, size, desktop);
    /*font-weight: array-get($m--root-font, weight);*/
    font-family: #{array-get($m--font-families, regular)};

    -ms-text-size-adjust: 100%; // 2
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a:active,
    a:focus {
        text-decoration: none !important;
    }
}

body {
    display: flex;
    flex-direction: column;
}

router-outlet {
    display: none;
}

@include minimal-desktop-1024 {
    html,
    body {
        font-size: array-get($m--root-font, size, tablet);
    }
}

@include mobile {
    html,
    body {
        font-size: array-get($m--root-font, size, mobile);
    }
}

body {
    &.m--skin-light {
        color: array-get($m--root-font, color, light);
    }

    &.m--skin-dark {
        color: array-get($m--root-font, color, dark);
    }
}
