<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        List of rehab plans
      </h3>
    </div>
    <div class="">
      <a routerLink="/admin/templates/add-reha" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill">
            <span>
                <i class="la la-plus"></i>
                <span >
                    Add new plan
                </span>
            </span>
      </a>
      <div class="m-separator m-separator--dashed d-xl-none"></div>
    </div>
  </div>
</div>
<div class="m-content" *ngIf="dataSource" >

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <div class="m-section">

        <div class="m-section__content">
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group m-form__group row">
                <label class="col-fix col-form-label">
                  Injures:
                </label>
                <div class="col-10">
                  <p-dropdown name="reason" placeholder="Выберите причину" optionsField="id" optionLabel="localizedName" #dropdown
                              [options]="injures"
                              [(ngModel)]="selectedInjure"
                              [required]="true"
                              [autofocus]="true"
                              [autoWidth]="false"
                              [style]="{'max-width':'300px'}"
                              (onChange)="onChangeInjure()"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group m-form__group">
                <div class="m-input-icon m-input-icon--right m-input-icon-hover">
                  <input #gb type="text" placeholder="Search" class="form-control m-input">
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-search"></i>
                </span>
              </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="m-section__content">
          <p-dataTable class="ui-datatable-footer-counter counter-lg"
                      #datatable
                      [value]="dataSource"
                      [rows]="10"
                      [paginator]="true"
                      [pageLinks]="3"
                      [rowsPerPageOptions]="[5,10,20]"
                      [globalFilter]="gb"
                      (onPage)="getDt(datatable); countRows($event)"
                      (onFilter)="getDt(datatable); countRowsFilter($event)">
            <p-footer>
              <span [ngSwitch]="isFiltered">
                <span *ngSwitchCase="'fromTo'">Показано {{rowFrom}}-{{rowUntil}} из {{filteredLength}}</span>
                <span *ngSwitchCase="'empty'">Показано 0</span>
                <span *ngSwitchCase="'one'">Показано 1-1</span>
                <span *ngSwitchDefault>Показано {{rowFrom}}-{{rowUntil}} из {{datatable.value.length}}</span>
              </span>
            </p-footer>
            <p-column routerLink="" field="id" header="id" [sortable]="true" >
              <ng-template let-row="rowData" pTemplate type="body">
                <a [routerLink]="['edit-reha', row.id]">{{row.id}}</a>
              </ng-template>
            </p-column>
            <p-column field="injury" header="Injuries" [sortable]="true"></p-column>
            <p-column field="name" header="Plans" [sortable]="true"></p-column>
          </p-dataTable>
        </div>
      </div> <!--.m-section-->
    </div> <!--.m-portlet__body-->
  </div> <!--.m-portlet-->
</div>

