<span *ngIf="maxSymbols == currentSymbols" class="m-form__help">Максимум {{maxSymbols}} символов</span>
<span *ngIf="maxSymbols !== currentSymbols" class="m-form__help"> Осталось
  {{maxSymbols - currentSymbols}} символов
</span>

