<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Пользователи2
      </h3>
    </div>
    <div class="">
      <a routerLink="/admin/users/add-user" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill">
      <span>
        <i class="la la-plus"></i>
        <span>Добавить пользователя</span>
      </span>
      </a>
      <div class="m-separator m-separator--dashed d-xl-none"></div>
    </div>
  </div>
</div>
<!--END: Subheader -->
<div class="m-content" *ngIf="dataSource">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <div class="m-section m-section--tabs">
        <ul class="nav nav-tabs m-tabs-line m-tabs-line--2x m-tabs-line--accent" role="tablist">
          <li *ngFor="let role of roles" class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" [class.active]="role.active" (click)="activeRole(role)">
              {{ role.name }}
            </a>
          </li>
        </ul>
      </div>

      <div class="m-section">

            <div class="m-section__content">
              <div class="row">

                <div class="col-lg-5">
                  <div class="form-group m-form__group">
                    <div class="m-input-icon m-input-icon--right m-input-icon-hover">
                      <input #gb type="text" placeholder="Поиск пользователя или организации" class="form-control m-input">
                      <span class="m-input-icon__icon m-input-icon__icon--right">
                        <span>
                          <i class="la la-search"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <div class="m-input-icon m-input-icon--right">
                      <p-calendar
                        name="regDate"
                        [(ngModel)]="regDate"
                        [showIcon]="true"
                        selectionMode="range"
                        readonlyInput="true"
                        [locale]="ru"
                        (onClose)="filterDate(datatable)"
                        (onClearClick)="clearDate(datatable)"
                        dateFormat="dd.mm.yy"
                        placeholder="Дата регистрации"
                        showButtonBar="true"
                        styleClass="ui-calendar-navs ui-calendar-range"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        yearRange="2000:2028">
                      </p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group m-form__group">
                    <p-dropdown name="condition" placeholder="Статус" class="fld-condition"
                                #ddCondition
                                [options]="conditions"
                                [(ngModel)]="condition"
                                [autoWidth]="false"
                                (onChange)="datatable.filter($event.value,colCondition.field,colCondition.filterMatchMode);">
                    </p-dropdown>
                  </div>
                </div>

              </div>
            </div>

            <div class="m-section__content">
              <p-dataTable class="ui-datatable-filter-hide ui-datatable-footer-counter"
                  #datatable
                  [value]="dataSource"
                  [rows]="10"
                  [paginator]="true"
                  [pageLinks]="3"
                  [loading]="loading" loadingIcon="fa-spinner"
                  [rowsPerPageOptions]="[5,10,20,100]"
                  [globalFilter]="gb"
                  emptyMessage="Пользователи не найдены"
                  (onPage)="getDt(datatable); countRows($event)"
                  (onFilter)="getDt(datatable); countRowsFilter($event)"
                  sortField="registrationDate"
                  [sortOrder]="-1">
                <p-footer>
                      <span [ngSwitch]="isFiltered">
                        <span *ngSwitchCase="'fromTo'">Показано {{rowFrom}}-{{rowUntil}} из {{filteredLength}}</span>
                        <span *ngSwitchCase="'empty'">Показано 0</span>
                        <span *ngSwitchCase="'one'">Показано 1-1</span>
                        <span *ngSwitchDefault>Показано {{rowFrom}}-{{rowUntil}} из {{datatable.value.length}}</span>
                      </span>
                </p-footer>
                <p-column field="fio" header="ФИО" [sortable]="true" filterMatchMode="contains" [style]="{'width':'300px'}">
                  <ng-template let-item="rowData" pTemplate="body">
                    <div class="td-content-fixed" style="width: 300px;">
                      <img *ngIf="item.url" [src]="item.url"/>
                      <img *ngIf="!item.url" style="width: 30px; height: 30px;" src="./assets/app/media/img/users/no-photo-user.png"/>
                      {{ item.fio }}
                    </div>
                  </ng-template>
                </p-column>
                <p-column field="login" header="Логин" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'width':'10%'}" #loginss></p-column>
                <p-column field="organization" header="Организация" [sortable]="true">
                  <ng-template let-item="rowData" pTemplate="body">
                    <div class="organization">{{ item.organization }}</div>
                    <div class="address">{{ item.address }}</div>
                  </ng-template>
                </p-column>
                <p-column
                  field="statusText"
                  header="Статус"
                  [sortable]="true"
                  [filter]="true"
                  filterMatchMode="equals"
                  #colCondition
                  [style]="{'width':'130px'}">

                  <ng-template let-item="rowData" pTemplate="body">
                    <span class="m-badge m-badge--wide m-badge--{{item.class}}">{{item.statusText}}</span>
                  </ng-template>
                </p-column>
                <p-column
                  field="registrationDate"
                  hidden="true"
                  header="Дата"
                  [sortable]="true"
                  [filter]="true">
                </p-column>
                <p-column
                  field="address"
                  hidden="true"
                  [sortable]="true"
                  [filter]="true">
                </p-column>
                <p-column styleClass="td-col-button">
                  <ng-template let-item="rowData" pTemplate="body">
                    <div class="dropdown">
                      <a href="#" class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-only"
                        ><!-- data-toggle="dropdown" закоментированый атрибут -->
                        <i class="fa fa-cog"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Просмотр профиля</a>
                        <a class="dropdown-item" href="#" (click)="modalOpen(item.id,item.fio)">Заблокировать
                          пользователя</a>
                      </div>
                    </div>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div> <!--.m-section__content-->

        </div>  <!--.m-section-->

    </div> <!--.m-portlet__body-->
  </div>

</div>
