<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Регистрация пользователя
      </h3>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="m-portlet m-portlet--bordered-semi">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Введите данные нового пользователя:
              </h3>
            </div>
          </div>
        </div>
        <form [formGroup]="form" novalidate class="m-form m-form--fit m-form--multicol m-form--label-align-right m--margin-top-15">
          <div class="m-alert alert alert-danger alert-required"
               *ngIf="requiredStatus">
            Заполнены не все обязательные поля
          </div>
          <div class="m-alert alert alert-danger alert-dismissible" *ngIf="errorStatus">
            {{errorStatus}}
          </div>

          <div class="m-portlet__body m--padding-bottom-0">
            <div class="row">
              <div class="col-12">
                <div class="m-form__group form-group row">
                  <label for="" class="col-fix col-form-label required">
                    Роль:
                  </label>
                  <div class="col-11">
                    <div class="m-checkbox-inline" formArrayName="roles">
                      <label class="m-checkbox" *ngFor="let role of rolesComponent; let i=index" formGroupName="{{ i }}">
                        <input type="checkbox" formControlName="{{ role.code }}">
                        {{role.value}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group m-form__group">
                  <label class="required">
                    Фамилия:
                  </label>
                  <div class="m-input-icon m-input-icon--right">
                    <input name="lastName" type="text" class="form-control m-input" placeholder=""
                           formControlName="lastName"
                           (blur)="getRequired(form.controls.lastName.touched && form.controls.lastName.errors?.required)"
                            >
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span>
                          <i [ngClass]="{'ic-valid-form': form.controls.lastName.touched && form.controls.lastName.valid,
                           'ic-error-form': form.controls.lastName.touched && form.controls.lastName.invalid}"
                             class="ic"></i>
                      </span>
                    </span>
                  </div>
                  <small class="text-danger"
                         *ngIf="form.controls.lastName.dirty && form.controls.lastName.errors?.maxlength">Максимальное
                    количество символов {{ this.maxNameLength }}
                  </small>
                  <small class="text-danger"
                         *ngIf="form.controls.lastName.dirty && form.controls.lastName.errors?.pattern && form.controls.lastName.invalid">
                    Доступны только латинские и русские буквы
                  </small>
                </div>
                <div class="form-group m-form__group">
                  <label class="required">
                    Имя:
                  </label>
                  <div class="m-input-icon m-input-icon--right">
                    <input name="firstName" type="text" class="form-control m-input" placeholder=""
                           formControlName="firstName"
                           (blur)="getRequired(form.controls.firstName.touched && form.controls.firstName.errors?.required)">
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span>
                          <i [ngClass]="{'ic-valid-form': form.controls.firstName.touched && form.controls.firstName.valid,
                           'ic-error-form': form.controls.firstName.touched && form.controls.firstName.invalid}"
                             class="ic"></i>
                      </span>
                    </span>
                  </div>
                  <small class="text-danger"
                         *ngIf="form.controls.firstName.dirty && form.controls.firstName.errors?.maxlength">Максимальное
                    количество символов {{ this.maxNameLength }}
                  </small>
                  <small class="text-danger"
                         *ngIf="form.controls.firstName.touched && form.controls.firstName.errors?.pattern && form.controls.firstName.invalid">
                    Доступны только латинские и русские буквы
                  </small>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Отчество:
                  </label>
                  <div class="m-input-icon m-input-icon--right">
                    <input name="middleName" type="text" class="form-control m-input" placeholder=""
                           formControlName="middleName">
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                        <span>
                            <i [ngClass]="{'ic-valid-form': form.controls.middleName.touched && form.controls.middleName.valid,
                                'ic-error-form': form.controls.middleName.touched && form.controls.middleName.invalid}"
                               class="ic"></i>
                        </span>
                    </span>
                  </div>
                  <small class="text-danger"
                         *ngIf="form.controls.middleName.dirty && form.controls.middleName.errors?.maxlength">Максимальное
                    количество символов {{ this.maxNameLength }}
                  </small>
                  <small class="text-danger"
                         *ngIf="form.controls.middleName.touched && form.controls.middleName.errors?.pattern && form.controls.middleName.invalid">
                    Доступны только латинские и русские буквы
                  </small>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group m-form__group">
                  <label class="required">
                    Дата рождения:
                  </label>
                    <div class="m-input-icon m-input-icon--right">
                      <p-calendar formControlName="birthDate"
                                  [showIcon]="true"
                                  dateFormat="dd.mm.yy"
                                  placeholder="дд.мм.гггг"
                                  [locale]="ru"
                                  (onBlur)="getRequired(form.controls.birthDate.touched && form.controls.birthDate.errors?.required)"
                                  (onClose)="getRequired(form.controls.birthDate.touched && form.controls.birthDate.errors?.required)"
                                  required="true"
                                  styleClass="ui-calendar-navs"
                                  [monthNavigator]="true"
                                  [yearNavigator]="true"
                                  yearRange="1918:2028"
                                  [minDate]="minDate"
                                  [maxDate]="maxDate">
                      </p-calendar>
                    </div>
                    <small class="text-danger"
                           *ngIf="form.controls.birthDate.errors?.maxDate || form.controls.birthDate.errors?.minDate">
                      Неверный формат даты
                    </small>
                </div>
                <div class="form-group m-form__group">
                  <label class="required">
                    Телефон:
                  </label>
                    <div class="m-input-icon m-input-icon--right">
                      <p-inputMask formControlName="phone"
                                   mask="+9(999)-999-99-99"
                                   placeholder="+Х ( ХХХ ) - ХХХ - ХХ - ХХ"
                                   (onBlur)="getRequired(form.controls.phone.touched && form.controls.phone.errors?.required)"
                                   required="true"
                      ></p-inputMask>
                      <span class="m-input-icon__icon m-input-icon__icon--right">
                        <span>
                            <i [ngClass]="{'ic-valid-form_mask': form.controls.phone.touched && form.controls.phone.valid,
                                'ic-error-form': form.controls.phone.touched && form.controls.phone.invalid}"
                               class="ic"></i>
                        </span>
                    </span>
                    </div>
                    <span class="m-form__help">Например, +7 (916) 489 - 45 - 67</span>
                </div>
                <div class="form-group m-form__group">
                  <label class="required">
                    E-mail при регистрации:
                  </label>
                    <div class="m-input-icon m-input-icon--right">
                      <input name="email" type="email" class="form-control m-input" placeholder=""
                             formControlName="email"
                             (blur)="getRequired(form.controls.email.touched && form.controls.email.errors?.required)"
                      >
                      <span class="m-input-icon__icon m-input-icon__icon--right">
                          <span>
                              <i [ngClass]="{'ic-valid-form': form.controls.email.touched && form.controls.email.valid,
                                'ic-error-form': form.controls.email.touched && form.controls.email.invalid}"
                                 class="ic"></i>
                          </span>
                      </span>
                    </div>
                      <small class="text-danger"
                             *ngIf="form.controls.email.touched && form.controls.email.errors?.email">
                        Неверный формат email
                      </small>
                    <span class="m-form__help"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="m-form__group form-group row">
                  <label class="col-fix col-form-label required">
                    Пол:
                  </label>
                  <div class="col-11">
                    <div class="m-radio-inline">
                      <label class="m-radio m-radio--solid">
                        <input type="radio" name="sex" value="MALE"
                               formControlName="sex"
                        >
                        Мужской
                        <span></span>
                      </label>
                      <label class="m-radio m-radio--solid">
                        <input type="radio" name="sex" value="FEMALE"
                               formControlName="sex"
                        >
                        Женский
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border">
            <div class="m-form__actions m-form__actions">
              <div class="row">
                <div class="col-lg-6">
                  <button [disabled]="form.invalid" type="submit" class="btn btn-metal m-btn--pill m-btn m-btn--custom" (click)="submitForm(form.controls)">

                    Сохранить
                  </button>
                  <button type="reset" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom">
                    Отменить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
