<form [formGroup]="address" novalidate (ngSubmit)="nextStep(address); setOverStep();"  class="m-form m-form--label-align-right">

  <div class="row">
    <div class="col-lg-5">
      <div class="form-group m-form__group">
        <label class="required">
          Страна:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <p-dropdown name="country" #ddCountry
                      formControlName="country"
                      id="country"
                      optionLabel="label"
                      [options]="countryList"
                      [autofocus]="true"
                      [autoWidth]="false"
                      (ngModelChange)="getModelDD(ddCountry.value.value)"
                      [styleClass]="'ui-dropdown-image ' + classDD">
            <ng-template let-country pTemplate="item">
                <img src="./assets/app/media/img/flags/{{country.value.value}}.png" />
                {{country.label}}
            </ng-template>
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <h2 class="m-section__heading">Юридический адрес:</h2>
  <div formGroupName="addressFact">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group m-form__group">
          <label>
            Область:
          </label>
          <div class="m-input-icon m-input-icon--right">
            <p-autoComplete formControlName="innerRegion"
                            id="addressFactInnerRegion"
                            [suggestions]="filteredRegions"
                            (completeMethod)="filterRegions($event)"
                            [minLength]="1"
                            [maxlength]="50"
                            scrollHeight="300px">
            </p-autoComplete>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
        <div class="form-group m-form__group">
          <label>
            Район:
          </label>
          <div class="m-input-icon m-input-icon--right">
            <input type="text" id="addressFactRegion" class="form-control m-input" maxlength="50"
                   formControlName="region"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group m-form__group">
          <label class="required">
            Город:
          </label>
          <div class="m-input-icon m-input-icon--right">
            <input type="text" class="form-control m-input" id="addressFactCity"
                   formControlName="city" maxlength="50"/>
            <small class="text-danger"
                   *ngIf="address.get('addressFact.city').hasError('required') && address.get('addressFact.city').touched ">
              Город обязателен для заполнения
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="form-group m-form__group">
          <label>
            Улица:
          </label>
          <div class="m-input-icon m-input-icon--right">
            <input type="text" class="form-control m-input" maxlength="50" id="addressFactStreet"
                   formControlName="street"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row row--margin-left-0 field-w80">
          <div class="form-group m-form__group m--margin-right-15">
            <label>
              Дом:
            </label>
            <div >
              <input type="text" class="form-control m-input" id="addressFactHouse"
                     formControlName="house" maxlength="4"/>
            </div>
          </div>
          <div class="form-group m-form__group m--margin-right-15">
            <label>
              Корпус:
            </label>
            <div >
              <input type="text" class="form-control m-input" id="addressFactHousing"
                     formControlName="housing" maxlength="4"/>
            </div>
          </div>
          <div class="form-group m-form__group m--margin-right-15">
            <label>
              Строение:
            </label>
            <div >
              <input type="text" class="form-control m-input" id="addressFactBuilding"
                     formControlName="building" maxlength="4"/>
            </div>
          </div>
          <div class="form-group m-form__group m--margin-right-15">
            <label>
              Офис:
            </label>
            <div >
              <input type="text" class="form-control m-input w135" id="addressFactOffice"
                     formControlName="office" maxlength="10"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="form-group m-form__group">
          <label class="required">
            Индекс:
          </label>
          <div >
            <input type="text" class="form-control m-input w130" id="addressFactIndex"
                   formControlName="index" maxlength="10"/>
            <small class="text-danger"
                   *ngIf="address.get('addressFact.index').hasError('required') && address.get('addressFact.index').touched ">
              Индекс обязателен для заполнения
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="m-checkbox-inline">
      <label class="m-checkbox">
        <input type="checkbox" (click)="factIsSameLegal()" id="addressFactIsFactSameLegal"
               formControlName="isFactSameLegal">
          Фактический и юридический адрес совпадают
        <span></span>
      </label>
    </div>
  </div>

  <div [hidden]="address.get('addressFact.isFactSameLegal').value">
      <h2 class="m-section__heading">Фактический адрес:</h2>
      <div formGroupName="addressLegal">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group m-form__group">
              <label>
                Область:
              </label>
              <div class="m-input-icon m-input-icon--right">
                <p-autoComplete formControlName="innerRegion" id="addressLegalInnerRegion"
                                [suggestions]="filteredRegions"
                                (completeMethod)="filterRegions($event)"
                                [minLength]="1"
                                maxlength="50"
                                scrollHeight="300px">

                </p-autoComplete>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group m-form__group">
              <label>
                Район:
              </label>
              <div class="m-input-icon m-input-icon--right">
                <input type="text" class="form-control m-input" maxlength="50" id="addressLegalRegion"
                       formControlName="region"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group m-form__group">
              <label class="required">
                Город:
              </label>
              <div class="m-input-icon m-input-icon--right">
                <input type="text" class="form-control m-input" maxlength="50" id="addressLegalCity"
                       formControlName="city"/>
                <small class="text-danger"
                       *ngIf="address.get('addressLegal.city').hasError('required') && address.get('addressLegal.city').touched ">
                  Город обязателен для заполнения
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="form-group m-form__group">
              <label>
                Улица:
              </label>
              <div class="m-input-icon m-input-icon--right">
                <input type="text" class="form-control m-input" id="addressLegalStreet"
                       formControlName="street"  maxlength="50"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row row--margin-left-0 field-w80">
              <div class="form-group m-form__group m--margin-right-15">
                <label>
                  Дом:
                </label>
                <div >
                  <input type="text" class="form-control m-input" id="addressLegalHouse"
                         formControlName="house" maxlength="4"/>
                </div>
              </div>
              <div class="form-group m-form__group m--margin-right-15">
                <label>
                  Корпус:
                </label>
                <div >
                  <input type="text" class="form-control m-input" id="addressLegalHousing"
                         formControlName="housing" maxlength="4"/>
                </div>
              </div>
              <div class="form-group m-form__group m--margin-right-15">
                <label>
                  Строение:
                </label>
                <div >
                  <input type="text" class="form-control m-input" id="addressLegalBuilding"
                         formControlName="building" maxlength="4"/>
                </div>
              </div>
              <div class="form-group m-form__group m--margin-right-15">
                <label>
                  Офис:
                </label>
                <div >
                  <input type="text" class="form-control m-input w135" id="addressLegalOffice"
                         formControlName="office" maxlength="10"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5">
            <div class="form-group m-form__group">
              <label class="required">
                Индекс:
              </label>
              <div class="">
                <input type="text" class="form-control m-input legal w130" id="addressLegalIndex"
                       formControlName="index" maxlength="10"/>
                <small class="text-danger"
                       *ngIf="address.get('addressLegal.index').hasError('required') && address.get('addressLegal.index').touched ">
                  Индекс обязателен для заполнения
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border m--padding-top-20">
    <div class="m-form__actions m-form__actions m--padding-left-0">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" [disabled]="!address.valid" class="btn btn-metal m-btn--pill m-btn m-btn--custom">
            Продолжить
          </button>
          <button type="button" (click)="setPrevStep(address); revertOverStep();" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom">
            Назад
          </button>
          <button type="button" (click)="cancel()" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom">
            Отменить
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
