<form [formGroup]="legal" novalidate (ngSubmit)="nextStep(legal); setOverStep();"  class="m-form m-form-twocol m-form--label-align-right">
  <h2 class="m-section__heading">Реквизиты:</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group m-form__group">
        <label class="required">
          ИНН:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <input type="text" class="form-control m-input w550" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                 formControlName="inn" id="inn" maxlength="12"/>
          <small class="text-danger"
                 *ngIf="legal.get('inn').hasError('required') && legal.get('inn').touched ">
            ИНН обязательно для заполнения
          </small>
          <small class="text-danger"
                 *ngIf="legal.get('inn').hasError('wrongInn') && legal.get('inn').touched ">
            Длина ИНН 10 или 12
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group m-form__group">
        <label>
          ОГРН:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <input type="text" class="form-control m-input w550" id="ogrn" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                 formControlName="ogrn" maxlength="50"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group m-form__group">
        <label>
          КПП:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <input type="text" class="form-control m-input w550" id="kpp" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                 formControlName="kpp" maxlength="50"/>

        </div>
      </div>
    </div>
  </div>

  <h2 class="m-section__heading">Информация об основании регистрации:</h2>
  <div class="row">
    <div class="col-lg-5 col">
      <div class="form-group m-form__group">
        <label class="required">
           Номер договора:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <input type="text" class="form-control m-input w550"
                 formControlName="contractNumber" id="contractNumber" maxlength="50"/>
          <small class="text-danger"
                 *ngIf="legal.get('contractNumber').hasError('required') && legal.get('contractNumber').touched ">
           Номер договора обязателен для заполнения
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group m-form__group">
        <label>
          Время действия договора:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <div>
          <p-calendar formControlName="contractDateFrom"
                      id="contractDateFrom"
                      styleClass="ui-calendar-fixed ui-calendar-navs"
                      [showIcon]="true"
                      dateFormat="dd.mm.yy"
                      [minDate]="dateFromMin"
                      placeholder="дд.мм.гггг"
                      (onInput)="checkMinValueFrom()"
                      [locale]="ru"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      yearRange="1918:2028">
          </p-calendar>
          <span class="m--padding-5">-</span>
          <p-calendar formControlName="contractDateTo"
                      id="contractDateTo"
                      styleClass="ui-calendar-fixed ui-calendar-navs"
                      [showIcon]="true"
                      dateFormat="dd.mm.yy"
                      [minDate]="dateToMin"
                      placeholder="дд.мм.гггг"
                      (onInput)="checkMinValueTo()"
                      [locale]="ru"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      yearRange="2000:2028">
          </p-calendar>
          </div>
          <!--<small class="text-danger"
                 *ngIf="legal.get('contractDateFrom').hasError('required') && legal.get('contractDateFrom').touched ">
            Дата с обязательна для заполнения
          </small>-->

          <small class="text-danger" *ngIf="!dateCheck()">
            Неверно указаны даты
          </small>

        </div>
      </div>
    </div>
  </div>


  <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border m--padding-top-20">
    <div class="m-form__actions m-form__actions m--padding-left-0">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" [disabled]="!legal.valid" class="btn btn-metal m-btn--pill m-btn m-btn--custom">
            Сохранить
          </button>

          <button type="button" (click)="setPrevStep(legal); revertOverStep();" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom">
            Назад
          </button>
          <button type="button" (click)="cancel()" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom">
            Отменить
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
