<form [formGroup]="clinicMainInformation" novalidate (ngSubmit)="nextStep(clinicMainInformation); setOverStep();"  class="m-form m-form--label-align-right">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group m-form__group">
        <label class="required">
          Полное наименование:
        </label>
        <div class="m-input-icon">
          <textarea [maxlength]="maxfullName"
                    class="form-control m-input" rows="2"
                    formControlName="fullName"
                    id="fullName">
          </textarea>
          <small class="text-danger"
                 *ngIf="clinicMainInformation.get('fullName').hasError('required') && clinicMainInformation.get('fullName').touched ">
            Заполнены не все обязательные поля
          </small>
        </div>
        <counter-symbols
          [maxSymbols]="200"
          [currentSymbols]="clinicMainInformation.controls.fullName.value.length">
        </counter-symbols>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group m-form__group">
        <label class="required">
          Краткое наименование:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <input type="text" class="form-control m-input" [maxlength]="100"
                 id="shortName"
                 formControlName="shortName"/>
          <small class="text-danger"
                 *ngIf="clinicMainInformation.get('shortName').hasError('required') && clinicMainInformation.get('shortName').touched ">
            Заполнены не все обязательные поля
          </small>
          <!--<span class="m-input-icon__icon m-input-icon__icon&#45;&#45;right">
           <span>
               <i [ngClass]="{'ic-valid-form': formTemplateMilestone.controls.milestoneName.touched && formTemplateMilestone.controls.milestoneName.valid,
                              'ic-error-form': formTemplateMilestone.controls.milestoneName.touched && formTemplateMilestone.controls.milestoneName.invalid}"
                  class="ic"></i>
           </span>
         </span>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group m-form__group">
        <label class="required">
          Описание вида деятельности:
        </label>
        <div class="m-input-icon">
          <textarea class="form-control m-input" rows="5"
                    id="organizationActionsDetail"
                    formControlName="organizationActionsDetail"
                    maxlength="{{maxOrgDetail}}">
          </textarea>
          <small class="text-danger"
                 *ngIf="clinicMainInformation.get('organizationActionsDetail').hasError('required') && clinicMainInformation.get('organizationActionsDetail').touched ">
            Заполнены не все обязательные поля
          </small>
        </div>
        <counter-symbols
          [maxSymbols]="500"
          [currentSymbols]="clinicMainInformation.controls.organizationActionsDetail.value.length">
        </counter-symbols>
      </div>
    </div>
  </div>

  <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border m--padding-top-20">
    <div class="m-form__actions m-form__actions m--padding-left-0">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" [disabled]="!clinicMainInformation.valid" class="btn btn-metal m-btn--pill m-btn m-btn--custom">
            Продолжить
          </button>
          <button type="button" (click)="cancel()" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom">
            Отменить
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
