<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Functions
      </h3>
    </div>
    <div>
      <a routerLink="/admin/functions/add-function" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill">
        <span>
          <i class="la la-plus"></i>
          <span>Add function</span>
        </span>
      </a>
    </div>
  </div>
</div>
<div class="m-content">

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <div class="m-section">

        <div class="m-section__content">
          <div class="row">
            <div class="col-lg-7">
              <div class="form-group m-form__group">
                <div class="m-input-icon m-input-icon--right m-input-icon-hover">
                  <input #gb type="text" placeholder="Search" class="form-control m-input">
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span><i class="la la-search"></i></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-section implementation">
          <p-dataTable class="ui-datatable-footer-counter counter-lg"
            #datatable
            [value]="functions"
            [rows]="10"
            [paginator]="true"
            [pageLinks]="3"
            [rowTrackBy]="rowTrackBy"
            [rowsPerPageOptions]="[5,10,20]"
            [globalFilter]="gb"
            (onPage)="countRows($event)"
            (onFilter)="countRowsFilter($event)"
            sortField="createdAt"
            [sortOrder]="-1">

            <p-column field="name" header="Function" [sortable]="true" [style]="{'width':'30%'}">
              <ng-template let-item="rowData" pTemplate type="body">
                <a [routerLink]="['edit-function', item.id]">{{ item.name }}</a>
              </ng-template>
            </p-column>

            <p-column field="localizations" header="Localization" [sortable]="true">
              <ng-template let-parse="rowData" pTemplate="body">
                <span class="cell-data-separator ellipsis_hidden ellipsis_hidden-hide">
                  <span *ngFor="let localization of parse.localizations" class="separator ellipsis_hidden_item">{{ localization.name }}</span>

                  <span class="ellipsis_hidden_controls"
                        *ngIf="parse.localizations.length > 3">
                    <span class="control-show"
                          (click)="showContent($event);">
                      ... +{{parse.localizations.length - 3}} localizations</span>
                    <span class="control-hide" style="display: none"
                          (click)="hideContent($event);">
                      ... hide</span>
                  </span>
                </span>

              </ng-template>
            </p-column>

            <p-column field="author.name" header="Author" [sortable]="true" [style]="{'width':'15%'}">
              <ng-template let-item="rowData" pTemplate type="body">
                <img src="./assets/app/media/img/users/no-photo-user.png" class="m--img-rounded m--img-centered m--margin-right-5 w30" alt=""/>
                <span>{{ item.author.name }}</span>
              </ng-template>
            </p-column>

            <p-column field="createdAt" header="Time" [sortable]="true" [style]="{'width':'140px'}">
              <ng-template let-item="rowData" pTemplate="body">
                {{ item.createdAt | date: 'dd.MM.yyyy HH:mm' }}
              </ng-template>
            </p-column>

            <p-column styleClass="td-col-button">
              <ng-template let-item="rowData" pTemplate="body">
                <button (click)="deleteFunction(item.id, item.name)" class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-only">
                  <i class="fa fa-times"></i>
                </button>
              </ng-template>
            </p-column>

            <p-column hidden="true" field="concatLocalization" [sortable]="true">
            </p-column>

            <p-footer>
              <span>
                <span *ngIf="dtLength !== 0">
                  Показано {{ dtIndexFrom }}-{{ dtIndexTo }} из {{ dtLength }}
                </span>
                <span *ngIf="dtLength === 0">
                  Показано 0
                </span>
              </span>
              <!--
              <span [ngSwitch]="isFiltered">
                <span *ngSwitchCase="'fromTo'">Показано {{rowFrom}}-{{rowUntil}} из {{filteredLength}}</span>
                <span *ngSwitchCase="'empty'">Показано 0</span>
                <span *ngSwitchCase="'one'">Показано 1-1</span>
                <span *ngSwitchDefault>Показано {{rowFrom}}-{{rowUntil}} из {{dtLength}}</span>
              </span>
            -->
            </p-footer>

          </p-dataTable>
        </div>
      </div> <!--.m-section-->
    </div> <!--.m-portlet__body-->
  </div> <!--.m-portlet-->
</div>
