<div class="modal-header modal-header-attention modal-header__no-border">
    <h4 class="modal-title">Блокировка пользователя</h4>
    <button (click)="activeModal.dismiss()" type="button" class="close" aria-label="Close">
      <i class="" aria-hidden="true"></i>
    </button>
  </div>
  <form #blockForm="ngForm" novalidate class="m-form m-form--fit m--margin-top-15">
    <div class="modal-body">
        <div class="m-alert alert alert-danger alert-required"
             *ngIf="!isDropdownValid">
          Заполнены не все обязательные поля
        </div>
      <div class="m-portlet__body">
        <div class="form-group m-form__group">
          <label class="required">
            Почему вы хотите заблокировать этого пользователя?
          </label>
          <p-dropdown name="reason" placeholder="Выберите причину" optionsField="id" #dropdown
                      [options]="reasons"
                      [(ngModel)]="reason"
                      [required]="true"
                      [autofocus]="true"
                      [autoWidth]="false"
                      (onBlur)="dropdownValid(dropdown); onBlurDropdownValid(dropdown)"
                      (click)="dropdownValid(dropdown)"
          >
          </p-dropdown>
        </div>
        <!-- <div *ngIf="reason == 3" class="form-group m-form__group">-->
        <div class="form-group m-form__group">
          <textarea [(ngModel)]="description" name="description"  class="form-control m-input" rows="3" placeholder="Опишите причину"></textarea>
        </div>
        <div class="form-group m-form__group">
          <label class="m-checkbox">
            <input [(ngModel)]="ban" name="ban" type="checkbox">
            Без возможности восстановления
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer modal-footer__right modal-footer__no-border">
      <button (click)="submitForm()" class="btn btn-metal m-btn--pill m-btn m-btn--custom" type="submit" [disabled]="blockForm.invalid">
        Сохранить
      </button>
      <button (click)="activeModal.dismiss()" class="btn m-btn--pill btn-secondary m-btn m-btn--custom" type="reset">
        Отменить
      </button>
    </div>
  </form>
