<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Новый системный администратор
      </h3>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet m-portlet--bordered-semi">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h1 class="m-portlet__head-text">
                Введите данные нового системного администратора:
              </h1>
            </div>
          </div>
        </div>
        <!-- begin::Form-->
        <form [formGroup]="form" novalidate class="m-form m-form--fit m-form--multicol m-form--label-align-right m--margin-top-15">
          <div class="m-alert alert alert-danger alert-required"
               *ngIf="requiredStatus">
              Заполнены не все обязательные поля
          </div>
          <div class="m-alert alert alert-danger alert-dismissible" *ngIf="errorStatus">
            {{errorStatus}}
          </div>

          <div class="m-portlet__body row">
            <div class="col-lg-5">
              <div class="form-group m-form__group">
                <label class="required">
                  Фамилия:
                </label>
                <div class="m-input-icon m-input-icon--right">
                  <input name="lastName" type="text" class="form-control m-input" placeholder=""
                    formControlName="lastName"
                    (blur)="getRequired(form.controls.lastName.touched && form.controls.lastName.errors?.required)"
                    >
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span>
                          <i [ngClass]="{'ic-valid-form': form.controls.lastName.touched && form.controls.lastName.valid,
                           'ic-error-form': form.controls.lastName.touched && form.controls.lastName.invalid}" class="ic"></i>
                      </span>
                  </span>
                </div>
                <small class="text-danger" *ngIf="form.controls.lastName.touched && form.controls.lastName.errors?.maxlength">Максимальное количество символов 50</small>
                <small class="text-danger"
                       *ngIf="form.controls.lastName.touched && form.controls.lastName.errors?.pattern && form.controls.lastName.invalid">
                  Доступны только латинские и русские буквы
                </small>
                <!--<span class="m-form__help"></span>-->
              </div>

              <div class="form-group m-form__group">
                <label class="required">
                  Имя:
                </label>
                <div class="m-input-icon m-input-icon--right">
                  <input name="firstName" type="text" class="form-control m-input" placeholder=""
                         formControlName="firstName"
                         (blur)="getRequired(form.controls.firstName.touched && form.controls.firstName.errors?.required)"
                  >
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span>
                          <i [ngClass]="{'ic-valid-form': form.controls.firstName.touched && form.controls.firstName.valid,
                           'ic-error-form': form.controls.firstName.touched && form.controls.firstName.invalid}" class="ic"></i>
                      </span>
                  </span>
                </div>
                <small class="text-danger" *ngIf="form.controls.firstName.touched && form.controls.firstName.errors?.maxlength">Максимальное количество символов 50</small>
                <small class="text-danger"
                       *ngIf="form.controls.firstName.touched && form.controls.firstName.errors?.pattern && form.controls.firstName.invalid">
                  Доступны только латинские и русские буквы
                </small>
                <!--<span class="m-form__help"></span>-->
              </div>

              <div class="form-group m-form__group">
                <label>
                  Отчество:
                </label>
                <div class="m-input-icon m-input-icon--right">
                  <input name="middleName" type="text" class="form-control m-input" placeholder=""  formControlName="middleName"

                  >
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span>
                          <i [ngClass]="{'ic-valid-form': form.controls.middleName.touched && form.controls.middleName.valid,
                           'ic-error-form': form.controls.middleName.touched && form.controls.middleName.invalid}" class="ic"></i>
                      </span>
                  </span>
                </div>
                <small class="text-danger" *ngIf="form.controls.middleName.touched && form.controls.middleName.errors?.maxlength">Максимальное количество символов 50</small>
                <small class="text-danger"
                       *ngIf="form.controls.middleName.touched && form.controls.middleName.errors?.pattern && form.controls.middleName.invalid">
                  Доступны только латинские и русские буквы
                </small>
                <!--<span class="m-form__help"></span>-->
              </div>
            </div>
            <div class="col-lg-7">
              <div class="form-group m-form__group">
                <label class="required m--margin-left_-15">
                  Логин:
                </label>
                <div class="row">
                  <div class="m-input-icon m-input-icon--right col-lg-8">
                    <input name="login" type="text" class="form-control m-input" placeholder=""
                           formControlName="login"
                           (blur)="getRequired(form.controls.login.touched && form.controls.login.errors?.required)"
                    >
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                        <span>
                            <i [ngClass]="{'ic-valid-form': form.controls.login.touched && form.controls.login.valid,
                             'ic-error-form': form.controls.login.touched && form.controls.login.invalid}" class="ic"></i>
                        </span>
                    </span>
                    <small class="text-danger" *ngIf="form.controls.login.touched && form.controls.login.errors?.maxlength">Максимальное количество символов 50</small>
                   <small class="text-danger" *ngIf="form.controls.login.touched && form.controls.login.errors?.minlength">Введите минимум 8 символов</small>
                      <small class="text-danger" *ngIf="form.controls.login.touched && form.controls.login.errors?.pattern">Используйте латинские буквы, числа, «-» или «_»</small>
                  </div>
                  <span class="m-form__help m-form__help_rt col-lg-4">Используйте латинские буквы, числа, «-» или «_»</span>
                </div>
              </div>

              <div class="form-group m-form__group">
                <label class="required m--margin-left_-15">
                  Пароль:
                </label>
                <div class="row">
                  <div class="m-input-icon m-input-icon--right col-lg-8">
                    <input minlength="8" name="password" type="password" class="form-control m-input" placeholder=""
                           formControlName="password"
                           (blur)="getRequired(form.controls.password.touched && form.controls.password.errors?.required)"
                    >
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                        <span>
                            <i [ngClass]="{'ic-valid-form': form.controls.password.touched && form.controls.password.valid,
                             'ic-error-form': form.controls.password.touched && form.controls.password.invalid}" class="ic"></i>
                        </span>
                    </span>
                    <small class="text-danger" *ngIf="form.controls.password.touched && form.controls.password.errors?.notEqualTo">Введитe отличный от логина пароль</small>
                    <small class="text-danger" *ngIf="form.controls.password.touched && form.controls.password.errors?.maxlength">Максимальное количество символов 50</small>
                    <small class="text-danger" *ngIf="form.controls.password.touched && form.controls.password.errors?.minlength">Введите минимум 8 символов</small>
                  </div>
                  <span class="m-form__help m-form__help_rt col-lg-4">Минимум 8 символов. Регистр учитывается.</span>
                </div>
              </div>

              <div class="form-group m-form__group">
                <label class="required m--margin-left_-15">
                  Повторите пароль:
                </label>
                <div class="row">
                  <div class="m-input-icon m-input-icon--right col-lg-8">
                    <input name="repeatPass" type="password" class="form-control m-input" placeholder=""
                           formControlName="repeatPass"
                           (blur)="getRequired(form.controls.repeatPass.touched && form.controls.repeatPass.errors?.required)"
                    >
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                        <span>
                            <i [ngClass]="{'ic-valid-form': form.controls.repeatPass.touched && form.controls.repeatPass.valid,
                             'ic-error-form': form.controls.repeatPass.touched && form.controls.repeatPass.invalid}" class="ic"></i>
                        </span>
                    </span>
                    <small class="text-danger" *ngIf="form.controls.repeatPass.touched && form.controls.repeatPass.errors?.equalTo">Пароли не совпадают</small>
                  </div>
                  <span class="m-form__help col-lg-4"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border">
            <div class="m-form__actions m-form__actions">
              <div class="row">
                <div class="col-lg-12">
                    <button [disabled]="form.invalid" type="submit" class="btn btn-metal m-btn--pill m-btn m-btn--custom" (click)="submitForm(form.controls)">
                    Сохранить
                  </button>
                  <button type="reset" class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom" (click)="return()">
                    Отменить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!--end::Form-->
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
