<div class="m-section" *ngIf="dataSource">
  <form novalidate class="m-form">
    <div class="m-section__content">
      <div class="row">
        <div class="col-lg-7">
          <div class="form-group m-form__group">
            <div class="m-input-icon m-input-icon--right m-input-icon-hover">
              <input #gb type="text" placeholder="Поиск пользователя или организации" class="form-control m-input">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-search"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group m-form__group">
            <div class="m-input-icon m-input-icon--right">
              <p-calendar name="regDate"
                          [(ngModel)]="regDate"
                          [showIcon]="true"
                          dateFormat="dd.mm.yy"
                          placeholder="Дата регистрации"
                          [locale]="ru"
                          required="true"
                          styleClass="ui-calendar-navs"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          yearRange="2000:2028"
              >
              </p-calendar>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group m-form__group">
            <p-dropdown name="condition" placeholder="Статус" #ddCondition
                        [options]="conditions"
                        [(ngModel)]="condition"
                        [autoWidth]="false"
                        (onChange)="datatable.filter($event.value,colCondition.field,colCondition.filterMatchMode); resetFilter($event.value, datatable)">
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div class="m-section__content">
      <p-dataTable class="ui-datatable-filter-hide ui-datatable-footer-counter"
                   #datatable
                   [value]="dataSource"
                   [rows]="10"
                   [paginator]="true"
                   [pageLinks]="3"
                   [globalFilter]="gb"
                   [rowsPerPageOptions]="[5,10,20]"
                   (onPage)="getDt(datatable); countRows($event)"
                   (onFilter)="getDt(datatable); countRowsFilter($event)">
        <p-footer>
              <span [ngSwitch]="isFiltered">
                <span *ngSwitchCase="'fromTo'">Показано {{rowFrom}}-{{rowUntil}} из {{filteredLength}}</span>
                <span *ngSwitchCase="'empty'">Показано 0</span>
                <span *ngSwitchCase="'one'">Показано 1-1</span>
                <span *ngSwitchDefault>Показано {{rowFrom}}-{{rowUntil}} из {{datatable.value.length}}</span>
              </span>
        </p-footer>
        <p-column field="id" header="id" [sortable]="true"></p-column>
        <p-column field="fio" header="ФИО" [sortable]="true" filterMatchMode="contains"></p-column>
        <p-column field="creationDate" header="Дата регистрации" [sortable]="true" [filter]="true"
                  filterMatchMode="equals">
          <ng-template let-date let-parse="rowData" pTemplate="body">
            {{parse[date.field]|date: 'yyyy-MM-dd' }}
          </ng-template>
        </p-column>
        <p-column field="statusTranslate" header="Статус" [sortable]="true" [filter]="true"
                  filterMatchMode="equals" #colCondition>

          <ng-template let-thisData="rowData" pTemplate="body">
            <!--<span class="m-badge  m-badge&#45;&#45;{{thisData.class}}">{{thisData.statusTranslate}} ({{thisData.statusCode}})</span>-->
            <span class="m-badge  m-badge--{{thisData.class}}">{{thisData.statusTranslate}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="td-col-button">
          <ng-template let-item="rowData" pTemplate="body">
            <div class="dropdown">
              <a href="#" class="btn m-btn m-btn--hover-inverse-accent m-btn--icon m-btn--icon-only"
                 data-toggle="dropdown">
                <i class="fa fa-cog"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Просмотр профиля</a>
                <!--|| item.statusCode === 'NOT_ACTIVE'-->
                <a *ngIf="currentUser.id !== item.id && item.statusCode === 'ACTIVE'" class="dropdown-item" href="#" (click)="modalOpen(item.id,item.fio)">Заблокировать пользователя</a>
                <a *ngIf="item.statusCode === 'LOCKED'" class="dropdown-item" href="#" >Разблокировать роль</a>
              </div>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div> <!--.m-section__content-->
  </form>
</div>  <!--.m-section-->
