<!-- begin::Footer -->
<footer class="m-grid__item	m-footer m-footer-page" appunwraptag="">
	<div class="m-container m-container--fluid m-container--full-height m-page__container">
		<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
      <div class="m-stack__item m-stack__item--center m-footer_login">
        <div class="m-login__account">
					<span class="m-login__account-msg">
						© 2017, REMSMED AG. Все права защищены 1.10.1
					</span>

          <a href="javascript:;" id="m_login_signup"
             class="btn btn-outline-metal m-btn--pill m-btn m-btn--custom m-btn-helpdesk m--margin-left-15 m-btn-width-auto">
            Техническая поддержка
          </a>
        </div>
      </div>
		</div>
	</div>

</footer>
<!--end::Footer -->
