<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title">
        Регистрация врача
      </h1>
    </div>
  </div>
</div>

<div class="m-content">

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body m--padding-bottom-0">
      <div class="m-section m-section--stepbar">
        <ul class="nav stepbar stepbar-3-items stepbar-icons stepbar-add-doctor" role="tablist">
          <li class="stepbar-item stepbar-item-1">
            <a class="stepbar-link"
               [ngClass]="{'': currentStep != 'MAIN', 'active': currentStep == 'MAIN' }"
               (click)="setStep('MAIN')">
              <span class="stepbar-line stepbar-line-fst"></span>
              <span class="stepbar-number">
                <i [hidden]="isStepMainValid" class="fa fa-exclamation icon-attention" aria-hidden="true"></i>
                <i class="fa fa-vcard-o"></i>
              </span>
              <span class="stepbar-name">Общая информация</span>
            </a>
          </li>
          <li class="stepbar-item stepbar-item-2">
            <a class="stepbar-link"
               [ngClass]="{'': currentStep != 'EDUCATION', 'active': currentStep == 'EDUCATION' }"
               (click)="setStep('EDUCATION')">
              <span class="stepbar-line"></span>
              <span class="stepbar-number">
                <i [hidden]="isStepEducationValid" class="fa fa-exclamation icon-attention" aria-hidden="true"></i>
                <i class="fa fa-mortar-board"></i>
              </span>
              <span class="stepbar-name">Образование</span>
            </a>
          </li>
          <li class="stepbar-item stepbar-item-3">
            <a class="stepbar-link"
               [ngClass]="{'': currentStep != 'MEDICAL', 'active overstep': currentStep == 'MEDICAL'}"
               (click)="setStep('MEDICAL');">
              <span class="stepbar-line"></span>
              <span class="stepbar-number">
                <i  [hidden]="isStepMedicalValid" class="fa fa-exclamation icon-attention" aria-hidden="true"></i>
                <i class="fa fa-medkit"></i></span>
              <span class="stepbar-name">Медицинская информация</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="m-section m--margin-bottom-0">
        <div class="m-section__content" [hidden]="currentStep != 'MAIN'">
          <doctor-main-information (isValid)="setInvalidStep($event,'MAIN')" [inputData]="this.createDoctorDTO.mainInformation" ></doctor-main-information>
        </div>

        <div class="m-section__content" [hidden]="currentStep != 'EDUCATION'">
          <doctor-education-information  (isValid)="setInvalidStep($event,'EDUCATION')" [inputData]="this.createDoctorDTO.educationInformation"></doctor-education-information>
        </div>

        <div class="m-section__content" [hidden]="currentStep != 'MEDICAL'">
          <doctor-medical-information (isValid)="setInvalidStep($event,'MEDICAL')" [inputData]="this.createDoctorDTO.medicalInformation"></doctor-medical-information>
        </div>
      </div>

    </div>

    <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border">
      <div class="m-form__actions m-form__actions m--padding-30">
        <div class="row">
          <div class="col-lg-12">
            <button type="submit"
                    class="btn m-btn--pill m-btn m-btn--custom"
                    [ngClass]="{ 'btn-accent' :  isFormValid,
                                 'btn-metal' : !isFormValid  }"
                    (click)="save()">
              Сохранить
            </button>
            <button type="submit"
                    class="btn btn-accent m-btn--pill m-btn m-btn--custom" (click)="setNextStep()">
              Продолжить
            </button>
            <button type="submit"
                    class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom" (click)="setPrevStep()">
              Назад
            </button>
            <button type="button"
                    class="btn m-btn--pill btn-outline-metal m-btn m-btn--custom">
              Отменить
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
