<form [formGroup]="educationForm" novalidate class="m-form m-form--label-align-right">

  <div class="row">
    <h4>Высшее образование</h4>
  </div>

  <div class="row">
      <div class="col-lg-5 m--padding-right-5-per">
        <div class="form-group m-form__group">
          <label class="required">
            Страна:
          </label>
          <div class="m-input-icon m-input-icon--right">
            <p-dropdown name="country" #ddCountry
                        formControlName="country"
                        id="country"
                        optionLabel="label"
                        [options]="countryList"
                        [autofocus]="true"
                        [autoWidth]="false"
                        (ngModelChange)="getModelDD(ddCountry.value.value)"
                        [styleClass]="'ui-dropdown-image ' + classDD">
              <ng-template let-country pTemplate="item">
                <img src="./assets/app/media/img/flags/{{country.value.value}}.png" />
                {{country.label}}
              </ng-template>
            </p-dropdown>
          </div>
        </div>
    </div>
    <div class="col-lg-5 m--padding-left-5-per">
      <div class="form-group m-form__group">
        <label class="required">
         Город:
        </label>
            <div class="m-input-icon m-input-icon--right m-input-icon-hover m-input-icon-autoComplete">
              <p-autoComplete class="form-control m-input"
                              id="city"
                              maxlength="100"
                              symbolsAndDash
                              formControlName="city"
                              [suggestions]="filteredCities"
                              (completeMethod)="filterCities($event)"
                              scrollHeight="300px">
              </p-autoComplete>
              <small class="text-danger"
                     *ngIf="educationForm.get('city').hasError('required') && educationForm.get('city').touched ">
                Город обязателен для заполнения
              </small>
            </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-lg-10">
    <div class="form-group m-form__group">
      <label class="required">
        Учебное заведение:
      </label>
      <div class="m-input-icon m-input-icon--right m-input-icon-hover m-input-icon-autoComplete">
        <p-autoComplete class="form-control m-input"
                        id="educationalInstitution"
                        maxlength="100"
                        symbolsAndDash
                        formControlName="educationalInstitution"
                        [suggestions]="filteredEducationalInstitution"
                        (completeMethod)="filterEducationalInstitution($event)"
                        scrollHeight="300px">
        </p-autoComplete>
        <small class="text-danger"
               *ngIf="educationForm.get('educationalInstitution').hasError('required') && educationForm.get('educationalInstitution').touched ">
          Учебное заведение обязательно для заполнения
        </small>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-10">
      <div class="form-group m-form__group">
        <label class="required">
          Специальность:
        </label>
        <div class="m-input-icon m-input-icon--right m-input-icon-hover m-input-icon-autoComplete">
          <p-autoComplete class="form-control m-input"
                          id="profession"
                          maxlength="100"
                          symbolsAndDash
                          formControlName="profession"
                          [suggestions]="filteredProfession"
                          (completeMethod)="filterProfession($event)"
                          scrollHeight="300px">
          </p-autoComplete>
          <small class="text-danger"
                 *ngIf="educationForm.get('profession').hasError('required') && educationForm.get('profession').touched ">
            Специальность обязательна для заполнения
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 m--padding-right-5-per">
      <div class="form-group m-form__group">
        <label class="required">
          Дата окончания:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <p-calendar inputId="endEducationDate"
                      dateSymbols
                      formControlName="endEducationDate"
                      [showIcon]="true"
                      dateFormat="dd.mm.yy"
                      placeholder="дд.мм.гггг"
                      required="true"
                      styleClass="ui-calendar-navs"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      [showButtonBar]="true"
                      yearRange="1918:2028"
                      [locale]="ru"
                      [minDate]="minDate"
                      [maxDate]="maxDate">
          </p-calendar>
          <small class="text-danger"
                 *ngIf="educationForm.get('endEducationDate').hasError('datesRange') && educationForm.get('datesRange').touched">
            Неверное значение даты
          </small>
          <small class="text-danger"
                 *ngIf="educationForm.get('endEducationDate').hasError('required') && educationForm.get('endEducationDate').touched ">
            Дата окончания обязательна для заполнения
          </small>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 m--padding-right-5-per">
      <div class="form-group m-form__group">
        <label>
          Диплом:
        </label>
        <div class="m-input-icon m-input-icon--right m-input-icon-hover m-input-icon-autoComplete">
          <input class="form-control m-input"
                 id="diplomaNumber"
                 maxlength="100"
                 formControlName="diplomaNumber"/>

        </div>
      </div>
    </div>
    <div class="col-lg-5 m--offset-lt-5-per">
        <form-upload></form-upload>
     </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <div class="form-group m-form__group">
        <list-upload></list-upload>
      </div>
    </div>
  </div>

</form>
