<form [formGroup]="mainForm" novalidate class="m-form m-form--label-align-right">
<div class="row">
  <div class="col-fixed col-200 m--padding-top-20">
    <img src="./assets/app/media/img/users/no-photo-users-doctor.svg" />
  </div>
  <div class="col-12 col-offset-lt-200">
    <div class="row">
      <div class="col-lg-6 m--padding-right-5-per">
        <div class="form-group m-form__group">
          <label class="required">
            Фамилия
          </label>
          <div class="m-input-icon">
            <input class="form-control m-input" formControlName="lastName" id="lastName"/>
          </div>
        </div>
      </div>
      <div class="col-lg-6 m--padding-left-5-per">
        <div class="form-group m-form__group">
          <label class="required">
            Имя
          </label>
          <div class="m-input-icon">
            <input class="form-control m-input" formControlName="firstName" id="firstName"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 m--padding-right-5-per">
        <div class="form-group m-form__group">
          <label>
            Отчество
          </label>
          <div class="m-input-icon">
            <input class="form-control m-input" formControlName="middleName" id="middleName"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="m-form__group form-group row">
          <label class="col-fix col-form-label required">
            Пол:
          </label>
          <div class="col-11">
            <div class="m-radio-inline">
              <label class="m-radio m-radio--solid">
                <input type="radio" name="sex" value="MALE"
                       formControlName="sex"
                >
                Мужской
                <span></span>
              </label>
              <label class="m-radio m-radio--solid">
                <input type="radio" name="sex" value="FEMALE"
                       formControlName="sex"
                >
                Женский
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 m--padding-right-5-per">
        <div class="form-group m-form__group">
          <label class="required">
            Дата рождения:
          </label>
          <div class="m-input-icon m-input-icon--right">
            <p-calendar formControlName="birthday"
                        [showIcon]="true"
                        dateFormat="dd.mm.yy"
                        placeholder="дд.мм.гггг"
                        required="true"
                        styleClass="ui-calendar-navs"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [locale]="ru"
                        yearRange="1918:2028"
                        [minDate]="minDate"
                        [maxDate]="maxDate">
            </p-calendar>
          </div>
          <small class="text-danger"
                 *ngIf="mainForm.controls.birthday.errors?.maxDate || mainForm.controls.birthday.errors?.minDate">
            Неверный формат даты
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 m--padding-right-5-per">
        <div class="form-group m-form__group">
          <label class="required">
            Телефон:
          </label>
          <div class="input-group input-group__input-txt">
            <span class="input-group-addon__input-txt">
              <p-dropdown name="countryPhoneDoctor" #ddCountryPhone
                          formControlName="countryPhoneDoctor"
                          [(ngModel)]="mdlCountryPhone"
                          id="countryPhoneDoctor"
                          [options]="countryList"
                          [autoWidth]="false"
                          (ngModelChange)="getFieldCountry(ddCountryPhone)"
                          [styleClass]="'ui-dropdown-image ui-dropdown-notext ' + countryPhone">
                <ng-template let-countryPhone pTemplate="item">
                    <img src="./assets/app/media/img/flags/{{countryPhone.value}}.png" />
                </ng-template>
              </p-dropdown>
             </span>
              <span class="input-group-right__input-txt">
              <p-inputMask formControlName="phoneDoctor"
                           id="phoneDoctor"
                           styleClass="ui-inputtext-phone"
                           [mask]="maskPhone"
                           [placeholder]="placeholderMask">

              </p-inputMask>
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-6 m--padding-left-5-per">
        <div class="form-group m-form__group">
        <label class="required">
          E-mail при регистрации:
        </label>
        <div class="m-input-icon m-input-icon--right">
          <input name="email" type="email" class="form-control m-input" placeholder=""
                 formControlName="email"
          >
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span>
                <i [ngClass]="{'ic-valid-form': mainForm.controls.email.touched && mainForm.controls.email.valid,
                  'ic-error-form': mainForm.controls.email.touched && mainForm.controls.email.invalid}"
                   class="ic"></i>
            </span>
        </span>
        </div>
        <small class="text-danger"
               *ngIf="mainForm.controls.email.touched && mainForm.controls.email.errors?.email">
          Неверный формат email
        </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <label>
          Языки:
        </label>
        <div class="wr-rel">
          <p-multiSelect id="selectedLang" #elMultiSelect
                         formControlName="selectedLang"
                         [(ngModel)]="mdlSelectedLang"
                         [options]="languages"
                         styleClass="multiselect-in-chips">
          </p-multiSelect>
          <p-chips id="сhipsLang"
                  formControlName="сhipsLang"
                  [(ngModel)]="mdlSelectedLang"
                  (click)="openMultiSelect()"
                   styleClass="font-la">
          </p-chips>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
