<form [formGroup]="medicalForm" novalidate class="m-form m-form--label-align-right">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group m-form__group">
        <label class="required">
          Полное наименование (образование):
        </label>
        <div class="m-input-icon">
          <input class="form-control m-input"
                    formControlName="fullName"
                    id="fullName"/>
        </div>
    </div>
  </div>
  </div>
</form>
